#swagger-ui {
  .swagger-ui {
    p {
      // This is the standard value for Swagger-UI, but it gets overridden by the default paragraph style included on the website.
      font-size: 12px;
    }

    code > * {
      font-size: 14px;
      font-weight: 300;
    }
  }
}