<script type="text/javascript">
const anchors = $('body').find('h2, h3');

function updateTocScrollPosition() {
  const scrollTop = $(document).scrollTop();

  // highlight the last scrolled-to: set everything inactive first
  $('.right-sidebar-toc__item').removeClass('right-sidebar-toc__item--active');

  // then iterate backwards, on the first match highlight it and break
  for (let i = anchors.length - 1; i >= 0; i--) {
    if (scrollTop + 384 > $(anchors[i]).offset().top) { // require contents to be at least a bit on the screen, which matches expectations a bit more
      $('.right-sidebar-toc__item:has(a[href="#' + $(anchors[i]).attr('id') + '"])').addClass('right-sidebar-toc__item--active');
      return;
    }
  }
  $('.right-sidebar-toc__item:first').addClass('right-sidebar-toc__item--active');
}

$(window).scroll(function () {
  updateTocScrollPosition();
});
updateTocScrollPosition(); // Initial update before any scroll, in case someone visited through anchor link
</script>