<header class="site-header">
  <div class="disruption-banner">
    <div class="container">
    </div>
  </div>
  
  <div class="site-header__navbar container">
    <div class="header-left">
      <nav aria-label="main">
        <ul>
          <li class="tl-top-navigation-item brand">
            {{- $logoUrl := resources.Get "images/logo.png" -}}
            <a href='{{ ref . "/" }}' id="#top"><img src="{{ $logoUrl.Permalink }}" class="brand" alt="{{ i18n "brand" }}" /></a>
          </li>
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          <li class="tl-top-navigation-item desktop-only {{ if $currentPage.IsMenuCurrent "main" . }} tl-top-navigation-item--active {{ end }}">
              {{ if .Page.Params.absolute }}
                <a href="{{ .Page.Params.link }}" target="_blank">
                  {{ .Title }}
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                  </svg>
                </a>
              {{ else }}
                <a href="{{ .URL | absLangURL }}">
                  {{ .Pre }}
                  {{ .Name }}
                </a>
              {{ end }}
            </li>
          {{ end }}
        </ul>
      </nav>
    </div>

    <div class="header-right" aria-roledescription="">
      {{ partial "language.html" .}}
      <a href="{{ .Site.Params.devPortalUrl }}" class="tl-button desktop-only">{{ i18n "header-cta-keys" }}</a>
      <button class="mobile-menu-button desktop-hidden" aria-haspopup="true" aria-label="Open mobile menu" aria-hidden="true">
          <div class="burger-menu-button__icon burger-menu-button__icon__1"></div>
          <div class="burger-menu-button__icon burger-menu-button__icon__2"></div>
          <div class="burger-menu-button__icon burger-menu-button__icon__3"></div>
      </button>
    </div>

  </div>

  <div class="site-header__mobile desktop-hidden" aria-hidden="true">
    <nav class="mobile-navigation">
      <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          <li class="tl-mobile-navigation-item {{ if $currentPage.IsMenuCurrent "main" . }} tl-mobile-navigation-item--active{{ end }}">
            {{ if .Page.Params.absolute }}
              <a href="{{ .Page.Params.Link }}" target="_blank">
                {{ .Title }}
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                  <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                </svg>
              </a>
            {{ else }}
              <a href="{{ .URL }}">
                {{ if and (.Page.Data) (eq .Page.Layout "single") }}
                  <span class="tl-mobile-navigation-item__chevron">
                    <svg width="7" height="12" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0.656854 1.34315L6.31371 7L0.656854 12.6569"/>
                    </svg>
                  </span>
                {{ end }}
                {{ .Pre }}
                {{ .Name }}
              </a>
            {{ end }}

            {{ if and (.Page.Data) (eq .Page.Layout "single") }}
              <ul class="tl-mobile-navigation-list--level-2">
              {{- range $i, $e := .Page.Data.Pages -}}
                <li class="tl-mobile-navigation-item tl-mobile-navigation-item--level-2">
                  <a href="{{ .Permalink }}">
                    {{ .Name }}
                  </a>
                </li>
              {{ end }}
              </ul>
            {{ end }}

          </li>
        {{ end }}
        <li class="tl-mobile-navigation-item">
          <a href="{{ .Site.Params.devPortalUrl }}" target="_blank">{{ i18n "header-cta-keys" }}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
              <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>