// Base class styling. Credits to entur.no.

html {
  font-size: 1rem;
  line-height: 1.375rem;
}
@media screen and (min-width: 50rem) {
  html {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

// Main
@media screen and (min-width: 50rem) {
  #main-content {
    padding-top: 6rem;
  }
}

// Home page
.home-container__segment {
  margin: 0 auto 5rem;
  max-width: 86rem;
  padding: 0 1.5rem;
}
.home-container__navigation-cards {
  margin-bottom: 2rem;
}

// Grid
.tl-grid__container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  width: 100%;
}
.tl-grid__item {
  box-sizing: border-box;
  margin: 0;
  grid-auto-rows: auto;
}
.tl-grid--small-12 {
  grid-column: span 12;
}
.tl-grid--spacing-large {
  gap: 1.5rem;
}
.tl-grid--spacing-extraLarge {
  gap: 2rem;
}
@media screen and (min-width: 50rem) {
  .tl-grid--medium-1 {
    grid-column: span 1;
  }
  .tl-grid--medium-2 {
    grid-column: span 2;
  }
  .tl-grid--medium-3 {
    grid-column: span 3;
  }
  .tl-grid--medium-4 {
    grid-column: span 4;
  }
  .tl-grid--medium-5 {
    grid-column: span 5;
  }
  .tl-grid--medium-6 {
    grid-column: span 6;
  }
  .tl-grid--medium-9 {
    grid-column: span 9;
  }
  .tl-grid--medium-10 {
    grid-column: span 10;
  }
  .tl-grid--medium-11 {
    grid-column: span 11;
  }
}

// Base card
.tl-base-card {
  display: flex;
  box-shadow: 0 0.125rem 0.1875rem 0 rgba(0, 0, 0, .25);
  border: 0.0625rem solid #e9e9e9;
  border-radius: 0.75rem;
  align-items: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-decoration: none;
  color: inherit;
}

// Navigation card
.tl-navigation-card, .tl-inline-navigation-card {
  // display: flex;
  background: #fff;
  display: block;
  flex-direction: column;
  height: 100%;
  text-align: center;
  padding: 1.5rem;
  position: relative;
  transition: transform 0.2s ease-in-out;
  .tl-navigation-card__title {
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 600;
    margin: .5rem 0 1rem;
    &:after {
      content: "";
      display: block;
      bottom: 1rem;
      height: .1875rem;
      width: 2rem;
      margin: 0 auto;
      opacity: var(--show-active-line);
      background: $purple;
      transition: width .2s ease-in-out;
    }
  }
  &:hover {
    transform: scale(1.05);
    .tl-navigation-card__title:after {
      width: 4rem;
    }
  }
}

.tl-inline-navigation-card {
  padding: 1rem;
  text-align: center;
  &:hover {
    transform: none;
  }
  .tl-navigation-card__title {
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 600;
    margin: .5rem 0 1rem;
  }
}

.article-preview-card {
  background: #fff;
  // height: 100%;
  width: 100%;
}

.tl-card-list {
  .tl-card-list__item {
    border-bottom: 1px dashed $border-grey;
    display: block;
    margin: 1rem 0;
    padding-bottom: 1rem;
    text-decoration: none;
    transition: .5s;
    &:last-child {
      border-bottom: none;
    }
    .list-item-title {
      font-weight: 600;
    }
    &:hover,
    &:focus {
      opacity: .7;
    }
  }
}
.section-front-news {
  padding: 0 1rem;
}

// Media card
.tl-media-card {
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: transform .2s ease-in-out;
  &:focus,
  &:focus-within {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(68, 192, 255, .5);
  }
  .tl-media-card__media {
    transition: transform .2s ease-in-out;
    object-fit: cover;
    width: 100%;
    height: 300px;
    overflow: hidden;

    img {
      width: 100%
    }
  }
  .tl-media-card__text {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    color: inherit;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 1.25rem 2rem 0;
  }
  .tl-media-card__title {
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 600;
    margin: .75rem 0 .5rem;
    text-align: left;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
  }
  .tl-media-card__arrow-icon {
    align-self: flex-end;
    margin: 1rem 0 1.5rem;
  }
}
.article-preview-card .tl-media-card__text {
  padding-bottom: 1.25rem;
}
.article-preview-card .tl-icon.tl-media-card__arrow-icon {
  position: absolute;
  bottom: 0;
}
.tl-media-card__arrow-icon,
.tl-navigation-card__arrow-icon {
  color: $purple;
}
a.tl-media-card__text {
  text-decoration: none;
  &:hover,
  &:focus {
    .tl-base-card {
      border-color: $purple;
    }
  }
}

.tl-navigation-card__title-icon {
  padding: 0.75rem;
  img {
    height: 2rem;
  }
}

// Paragraphs
.tl-paragraph {
  color: inherit;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 0 1rem;
}
@media screen and (min-width: 50rem) {
  .tl-paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.tl-lead-paragraph {
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin: 1.5rem 0;
}
@media screen and (min-width: 50rem) {
  .tl-lead-paragraph {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}

// Buttons
.tl-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-color: $light-bg;
  border: 1px solid $border-grey;
  border-radius: .5rem;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  min-width: 9.5rem;
  padding: .5rem 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  &.tl-button--variant-primary {
    background-color: $purple;
    border-color: $purple;
    &:hover,
    &:focus {
      background-color: $light-purple;
    }
  }
}
.tl-icon-button {
  border: .0625rem solid transparent;
  border-radius: .25rem;
  background: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: .5rem;
}


// Navigation
@media (min-width: 48.125rem) {
  .mobile-header {
    display: none;
  }
}
@media screen and (min-width: 50rem) {
  .ui-menu--desktop {
    display: flex;
  }
}
@media screen and (min-width: 50rem) {
  .top-navigation {
    position: fixed;
    top: 0;
    overflow-x: initial;
    padding: 2.5rem 0 2.5rem 2.5rem;
    justify-content: flex-start;
  }
}
.top-navigation {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1rem 0;
  transition: margin-left .1s ease-out;
  height: 6rem;
  z-index: 20;

  font-size: 0.875rem;
  justify-content: space-between;
  margin: auto;
  padding: 1rem 1.5rem 1rem;
  .header-left {
    align-items: center;
    display: flex;
    position: relative;
    z-index: 40;
  }
}
div.tl-top-navigation-item {
  padding: 1rem;
}
.tl-top-navigation-item {
  --show-active-line: 0;
  display: inline-block;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  position: relative;
  min-width: 5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  &:hover {
    --show-active-line: 1;
    &::after {
      width: 2rem;
    }
  }
  &::after {
    content: "";
    display: block;
    bottom: 1rem;
    height: .1875rem;
    width: 0;
    margin: 0 auto;
    opacity: var(--show-active-line);
    background: $purple;
    transition: width .2s ease-in-out,opacity .2s ease-in-out;
  }
}
body.type-page .tl-top-navigation-item {
  &::after {
    background: #fff;
  }
}
.tl-top-navigation-item--active {
  --show-active-line: 1;
  &:after {
    width: 2rem;
  }
}
.tl-top-navigation-item.header-logo {
  --show-active-line: 0;
}
@media screen and (max-width: 40rem) {
  .header-left {
    .tl-top-navigation-item.header-logo {
      display: none;
    }
    nav ul {
      display: flex;
      padding: 0;
    }
  }
  .header-right {
    .tl-icon-button {
    }
  }
}

// Header
.header-section {
  position: relative;
  margin-bottom: 1.5rem;

  &.section-contrast {
    p {
      max-width: 55%;
    }
    position: relative;
    &:before {
      content: "";
      background: rgb(35,35,35);
      background: -moz-linear-gradient(0deg, rgba(35,35,35,0.758140756302521) 0%, rgba(35,35,35,1) 50%, rgba(35,35,35,1) 100%);
      background: -webkit-linear-gradient(0deg, rgba(35,35,35,0.758140756302521) 0%, rgba(35,35,35,1) 50%, rgba(35,35,35,1) 100%);
      background: linear-gradient(0deg, rgba(35,35,35,0.758140756302521) 0%, rgba(35,35,35,1) 50%, rgba(35,35,35,1) 100%);
      box-shadow: inset 0 -0.5rem 0.5rem 0 rgba(0, 0, 0, .1);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#232323",endColorstr="#232323",GradientType=1);
      position: absolute;
      height: 13rem;
      z-index: -1;
      margin: 0 -1000px;
      padding: 0 1000px;
      @media screen and (min-width: 50rem) {
        height: 29rem;
        margin: 0 -2000px;
        padding: 0 2000px;
      }
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -25px;
      background: url(../images/tl-illustration-map.svg) no-repeat bottom right;
      display: block;
      background-size: 450px;
      width: 450px;
      height: 300px;
      right: 1.5rem;
    }
  }
  .header-container {
    color: #fff;
    margin: auto;
    max-width: 86rem;
    padding: 5em 1.5rem .5rem;
  }
}
@media screen and (min-width: 50rem) {
  .header-section {
    margin-bottom: 7rem;
  }
  .header-container {
    padding-top: 5rem;
  }
  .article-header__container, .article-header__wrapper {
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 60rem) {
  .header-section.section-contrast {
    &:after {
      bottom: -20px;
      background-size: 300px;
      width: 300px;
    }
  }
}
@media screen and (max-width: 50rem) {
  .header-section.section-contrast {
    .header-container {
      padding-top: 1.5em;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    }
    p {
      max-width: 100%;
    }
    &:after {
      display: none;
    }
  }
}

// Helpers
.tl-h5--margin-bottom, .tl-h6--margin-bottom, .tl-paragraph--margin-bottom {
  margin-top: 0;
}

.tl-h1 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.625rem;
  margin: 0 0 1rem;
}
@media screen and (min-width: 50rem) {
  .tl-h1 {
    font-size: 2.5rem;
    line-height: 3.75rem;
  }
}
.tl-h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 1.5rem 0 .5rem;
}
@media screen and (min-width: 50rem) {
  .tl-h3 {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
}
.tl-h1--margin-bottom,
.tl-h2--margin-bottom,
.tl-h3--margin-bottom,
.tl-h4--margin-bottom,
.tl-h5--margin-bottom,
.tl-h6--margin-bottom,
.tl-paragraph--margin-bottom {
    margin-top: 0;
}

.tl-label {
  font-size: .875rem;
  line-height: 1.25rem;
}
@media screen and (min-width: 50rem) {
  .tl-label {
    line-height: 1.375rem;
  }
}

// Blog/News
.blogpost-overview-grid {
  display: grid;
  row-gap: 1.5rem;
  width: 80%;
  margin: 0 auto;
  .blogpost-overview__link {
    text-decoration: none;
  }
}
.blogpost-overview__post {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  padding: 1rem;
  cursor: pointer;
}
@media screen and (min-width: 50rem) {
  .blogpost-overview__post {
    flex-direction: row;
  }
}
.blogpost-overview__image {
  width: 100%;
}
@media screen and (min-width: 50rem) {
  .blogpost-overview__image {
    height: 14rem;
    width: 22rem;
  }
}
.blogpost-overview__information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 0;
  padding-top: 1.5rem;
}
@media screen and (min-width: 50rem) {
  .blogpost-overview__information {
    padding-top: 0;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.blogpost-overview__description {

}

// About
.omtl-people-presenter {
  background: $light-bg;
}
.omtl-people-presenter--vertical .omtur-people-presenter__container {
  display: flex;
  flex-direction: column;
}
.omtl-people-presenter__image {
  width: 100%;
  min-height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.omtl-people-presenter__info {
  background: $light-bg;
  padding: 1.5rem 0 1.5rem 1.5rem;
}
@media screen and (min-width: 50rem) {
  .omtl-people-presenter__info {
    padding: 3rem 0 3rem 3rem;
  }
}

// Front adaptions
.newsletter-signup {
  margin-top: 8rem;
}

// Typography
.tl-h2 {
  font-size: 1.25rem;
  line-height: 2.25rem;
  margin: 2rem 0 .75rem;
}

@media screen and (min-width: 50rem) {
  .tl-h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

// Table
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  thead {
    border-bottom: .125rem solid $light-border-grey;
    th {
      color: $grey-font;
      font-size: .875rem;
      font-weight: 500;
      text-align: left;
      height: 3.75rem;
      padding: 1rem 1.5rem;
    }
  }
  tbody tr {
    border-bottom: .125rem solid $light-border-grey;
    td {
      height: 3.75rem;
      padding: 1rem 1.5rem;
    }
  }
}
