// Sidebar
.site-sidebar-wrapper {
  width: 100%;
  transition: max-width .1s ease-out;
  background: $light-bg;
}
@media screen and (min-width: 50rem) {
  .site-sidebar-wrapper {
    max-width: 18rem;
    height: 100vh;
    left: 0;
    top: 7rem;
    padding-bottom: 10rem;
    position: fixed;
    z-index: 10;
  }
}
@media screen and (min-width: 75rem) {
  .site-sidebar-wrapper {
    max-width: 26rem;
  }
}

.menu {
  height: calc(100vh - 7rem);
  overflow-y: scroll;
  width: 100%;
  .menu__top {
    background-color: #f8f8f8;
    padding: 1.5rem 2.5rem;
  }
}
@media screen and (min-width: 800px) {
  .menu__logo {
    display: none;
  }
}
.tl-side-navigation {
  --padding-vertical: 1rem;
  --padding-horizontal: 2.5rem;
  background-color: #f8f8f8;
  color: $black;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  transition: max-width .2s ease-in-out;
}
@media screen and (min-width: 50rem) {
  .tl-side-navigation {
    max-width: 26rem;
  }
}
.tl-side-navigation--small {
  --padding-vertical: 0.6875rem;
}
.tl-side-navigation__click-target {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  border-bottom: .125rem solid $light-border-grey;
  border-radius: 0;
  color: var(--primary-text-color);
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  padding: var(--padding-vertical) 2.5rem;
  padding-left: 2.5rem;
  transition: padding .2s ease-in-out;
  text-align: left;
  text-decoration: none;
  width: 100%;
}
.tl-side-navigation__click-target--active {
  box-shadow: inset 0.25rem 0 0 #181c56;
  font-weight: 600;
}
.tl-side-navigation .tl-side-navigation {
  background-color: #fff;
}
.tl-side-navigation-group {
  background-color: $light-bg;
  cursor: default;
}
ul.dropdown-list {
  a {
    padding-left: 3.5rem;
  }
  .dropdown-list {
    a {
      padding-left: 4.5rem;
    }
  }
}
.tl-side-navigation__item {
  a.dropdown {
    display: flex;
    .dropdown-toggle {
      align-items: center;
      margin-left: auto;
      background: url('../icons/RightArrow.svg') no-repeat;
      display: block;
      width: 20px;
      height: 20px;
      &.active {
        background: url('../icons/DownArrow.svg') no-repeat;
      }
    }
  }
}

// Content
@media screen and (min-width: 800px){
  .type-data .page {
    margin: 7rem 5vw 10rem 23rem;
  }
}
@media screen and (min-width: 1200px) {
  .type-data .page {
    margin: 7rem 15vw 10rem calc(20rem + 15vw);
  }
}

// Content footer
.docs-footer {
  border-top: 2px solid $light-border-grey;
  font-size: 0.75rem;
  padding: .5rem 0;
}


// Forms
.tl-form-control {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: 0;
  color: inherit;
  display: block;
  font-family: inherit;
  line-height: 1.25rem;
  font-size: 1rem;
  padding: 20px 1rem .25rem;
  width: 100%;
  &:focus {
    outline: none;
  }
}
.tl-form-control-wrapper {
  --border-color: #181c56;
  --border-color-hover: #aeb7e2;
  align-items: center;
  background-color: #fff;
  border-radius: .25rem;
  border: .125rem solid $border-grey;
  color: #181c56;
  display: flex;
  position: relative;
  width: 100%;
  min-height: 3rem;
  transition: border-color .1s ease-in-out;
  &:focus-within,
  &:hover {
    border-color: $purple;
  }
}
.tl-form-control__prepend {
  position: relative;
  margin: 0 1rem;
  line-height: inherit;
}
.tl-form-control__prepend {
  margin-right: 0;
}
.tl-form-control-wrapper--size-medium .tl-form-control__prepend {
  font-size: 1rem;
  line-height: 1.25rem;
}
.tl-icon.eds-icon--inline {
  position: relative;
  top: .2em;
}

.tl-input-group__label {
  color: #656782;
  display: flex;
  font-size: 1rem;
  position: absolute;
  line-height: 1rem;
  height: 3rem;
  padding: 1rem;
  top: -.125rem;
  transition: top .2s ease-in-out,font-size .2s ease-in-out,padding .2s ease-in-out,line-height .2s ease-in-out;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.tl-form-control-wrapper:focus-within .tl-input-group__label {
  top: .125rem;
  font-size: .75rem;
  padding: 0 0 0 1rem;
}
input {
  border: none;
}

// Copy button
.highlight {
  position: relative;
  z-index: 0;
  pre {
    max-height: 800px;
    overflow: scroll;
  }
}

.copy-code-button {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.5px;
  width: 65px;
  color: $black;
  background-color: #fff;
  border: 1.25px solid $border-grey;
  border-radius: none;
  border-bottom-left-radius: 3px;
  white-space: nowrap;
  padding: 4px 4px 5px 4px;
  margin: 0 0 0 1px;
  cursor: pointer;
  opacity: 0.6;
}

.copy-code-button:hover,
.copy-code-button:focus,
.copy-code-button:active,
.copy-code-button:active:hover {
  color: #222225;
  background-color: #b3b3b3;
  opacity: 0.8;
}

.copyable-text-area {
  position: absolute;
  height: 0;
  z-index: -1;
  opacity: .01;
}

// Admonition
.admonition {
  background-color: $light-bg;
  display: flex;
  margin-bottom: 21px;
  .admonition-icon {
    padding: .75rem;
    color: #fff;
  }

  .content {
    margin: .75rem;
  }

  svg {
    margin-top: 4px; // TODO: Check if this is a good fix to align the admonition icon with the first content line
    height: 16px;
    width: 16px;
  }
}

.success {
  background-color: #d9f3cb;

  .admonition-icon {
    background-color: #58c11d;
  }
}

.error {
  background-color: #fbdae6;

  .admonition-icon {
    background-color: #b33261;
  }
}

.warning {
  background-color: #fffae6;

  .admonition-icon {
    color: #ff991f;
    background-color: #fffae6;
  }
}

.info {
  background-color: #deebff;

  .admonition-icon {
    background-color: #2e8fce;
  }
}

.note {
  background-color: #eae6ff;

  .admonition-icon {
    background-color: #9d95fd;
  }
}
