body #footer {
  background: $light-bg;
  .footer-wrapper {
    margin: 0 auto;
    max-width: 86rem;
    padding: 4rem 1.5rem 3rem;
  }
  .logo {
    background: $black;
    padding: 5px;
    width: 100px;
  }
  .footer-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
  }
  nav.footer-menu {
    ul {
    list-style: none;
    padding: 0
    }
    a {
      color: $black;
      text-decoration: none;
    }
  }
  .footer-logo {
    display: inline-block;
    flex: 0 0 13%;
    max-width: 13%;
    padding: .5rem;
    img {
      display: inline-block;
      vertical-align: middle;
      max-height: 60px;
      max-width: 100%;
      height: auto;
    }
  }
  .footer-friends {
    background: $dark-bg;
    padding: 2rem 1.5rem;
  }
}

.footer-text {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

@media (min-width: 50rem) {
  .footer-text {
    margin-bottom: 1rem;
  }
}
