.header {
  .logo {
    margin: 10px;
    width: 100px;
  }
  .tl-top-navigation-item a {
    color: $black;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    svg {
      height: 12px;
      position: absolute;
      right: -3px;
      top: 15px;
      width: auto;
    }
  }
  .header-right .tl-icon-button {
    color: $black;
  }
}
body.type-data .header .header-right .tl-icon-button {
  color: #fff;
}
.header-right {
  display: flex;
  align-items: center;
  color: #fff;
  .tl-icon-button {
    margin: 0 1rem;
    font-weight: 600;
    text-decoration: none;
  }
  .l-lang {
    display: none;
  }
}
@media screen and (min-width: 50rem) {
  .header-right {
    .l-lang {
      display: block;
    }
    .s-lang {
      display: none;
    }
  }
}
@media screen and (max-width: 40rem) {
  .tl-button.tl-button--variant-primary {
    padding: 0;
    background: none;
    border: none;
    min-width: auto;
    white-space: nowrap;
  }
  .top-navigation {
    overflow-x: scroll;
  }
}
body {
  .header {
    .top-navigation {
      background: #fff;
    }
    .logo {
      background: $black;
      padding: 5px
    }
  }
  &.type-page {
    .header {
      .top-navigation {
        background: $blue-bg;
        .tl-top-navigation-item a {
          color: #fff;
        }
        .header-right .tl-icon-button {
          color: #fff;
        }
      }
    }
  }
}
