#main-content {
  margin: 0 1.5rem;
  max-width: 100%;
  padding-bottom: 29rem;
}

body.type-page #main-content {
  margin: 0;
}

@media screen and (min-width: 50rem) {
  #main-content {
    margin: auto;
    max-width: 1376px;
    min-height: 31rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .content-wrapper {
    width: 50rem;
    margin: 0 auto;
  }

  body.type-page #main-content {
    max-width: none;
    padding-right: 0;
    padding-left: 0;
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
  overflow-x: clip;
}

.page-content {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 50rem) {
  .main-content-wrapper {
    overflow-x: visible;
  }
}
