.header-section {
  &.section-contrast {
    &:before {
      background: $purple;
      background: -moz-linear-gradient(0deg, $purple 0%, $purple 50%, $purple 100%);
      background: -webkit-linear-gradient(0deg, $purple 0%, $purple 50%, $purple 100%);
      background: linear-gradient(0deg, $purple 0%, $purple 50%, $purple 100%);
    }
  }
}

body.type-page {
  .header {
    .top-navigation {
      background: $purple;
    }
  }
  .tl-button.tl-button--variant-primary {
    background-color: #fff;
    border-color: transparent;
    color: $purple;
  }
  .header .logo {
    background: transparent;
    width: 110px;
  }
}
