$blue: #4B1FC2;
$blue-bg: $blue;

.header-section {
  &.section-contrast {
    &:before {
      background: rgb(126,33,204);
      background: -moz-linear-gradient(0deg, rgba(75,31,194,1) 0%, rgba(75,31,194,1) 50%, rgba(75,31,194,1) 100%);
      background: -webkit-linear-gradient(0deg, rgba(75,31,194,1) 0%, rgba(75,31,194,1) 50%, rgba(75,31,194,1) 100%);
      background: linear-gradient(0deg, rgba(75,31,194,1) 0%, rgba(75,31,194,1) 50%, rgba(75,31,194,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7e21cc",endColorstr="#7e21cc",GradientType=1);
    }
  }
}

body.type-page {
  .header {
    .top-navigation {
      background: $blue-bg;
    }
  }
  .tl-button.tl-button--variant-primary {
    background-color: #fff;
    border-color: transparent;
    color: $purple;
  }
  .header .logo {
    background: transparent;
    width: 110px;
  }
}
