#body .nav-tabs {
  position: unset;
  width: unset;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.nav-tabs {
  color: #0f0f0f;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-tabs > li {
  background: $light-bg;
  border-radius: 0;
  border: 1px solid $border-grey;
  color: $black;
  float: left;
  &:first-child {
    border-radius: 2px 0 0 0;
  }
  &:last-child {
    border-radius: 0 2px 0 0;
  }
}

.nav-tabs > li > a {
  color: #717171 !important;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
}

pre {
  border-radius: 0 2px 2px 2px;
  display: block;
  margin: 0;
  padding: 1rem;
  line-height: 1;
}

.code-tabs {
  margin: 10px 0px 0px 0px;
}

.nav-tabs > li.active {
  border: 1px solid $black;
  > a {
    color: #fff !important;
    background: $black;
    &:hover {
      color: #fff !important;
    }
  }
}
.nav-tabs > li > a:hover {
  color: $black !important;
}
