$black: #232323;
$grey: #ededed;
$purple: #9b26b6;
$light-purple: #b84bd2;
$pink: #f277c6;

$alt-grey: #f2f2f2;
$border-grey: #c5c5c5;
$light-border-grey: #e9e9e9;
$grey-font: #868686;

$dark-bg: $black;
$light-bg: $grey;

$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
$app-font-family: "Raleway", $font-family-base;
