@import 'modern-normalize';
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,100,600');

@import 'variables';
@import 'layout';
@import 'base';
@import 'header';
@import 'footer';
@import 'docs';
@import 'shortcodes';
@import 'override';
@import 'mc';
@import 'partials/image_header';
@import 'partials/landing_roller';
@import 'shortcodes/admoniton';
@import 'blogposts';

body {
  font-family: $app-font-family;
  font-weight: 400;
}

body a, body a:link, body a:visited {
  color: unset;
  transition: .5s;
}

body p a,
body p a:link,
body p a:visited,
body table a,
body table a:link,
body table a:visited {
  color: $purple;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $light-purple;
    border-bottom: 1px dashed $light-purple;
  }
}

// Headings
h1, h2, h3, h4 {
  font-family: $app-font-family;
  font-weight: 400;
}

h2 {
  color: $grey-font;
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 2rem;
  text-transform: uppercase;
}

h3 {
  font-weight: 700;
}

p {
  font-size: 1rem;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  line-height: 1.5rem;
}

.page p img {
  max-width: 100%;
}
