#main-content {
  margin: 0 1.5rem;
  max-width: 100%;
  padding-bottom: 5rem;
}

@media screen and (min-width: 50rem) {
  #main-content {
    margin: auto;
    max-width: 1376px;
    min-height: 31rem;
    padding-right: 1.5rem;
    padding-leftt: 1.5rem;
  }

  .content-wrapper {
    width: 50rem;
    margin: 0 auto;
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}
@media screen and (min-width: 50rem) {
  .main-content-wrapper {
    overflow-x: visible;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;            /* Footer height */
}
