$black: #232323;
$grey: #ededed;
$purple: #9b26b6;
$pink: #f277c6;

$alt-grey: #f2f2f2;

$dark-bg: $black;
$light-bg: $grey;


$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
$app-font-family: "Raleway", $font-family-base;
