@import 'modern-normalize';
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,100,600');

@import 'variables';
@import 'layout';
@import 'base';
@import 'header';
@import 'footer';
@import 'docs';

body {
  font-family: $app-font-family;
  font-weight: 400;
}

body a, body a:link, body a:visited {
  color: unset;
}

// Headings
h1, h2, h3, h4 {
  font-family: $app-font-family;
  font-weight: 400;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}
