{{ define "main" }}
<main class="landing">
    <section class="page page__first flex-col">
        <div class="container page__first__header">
            <h1><span>The home of</span><span class="h1--tl-inverted">swedish public transport data</span></h1>
        </div>
        <div class="landing-demo flex-spacer flex-row">
            <div class="landing-demo-left flex-spacer">
                <div class="metro-lines"></div>
            </div>
            <div class="landing-demo-middle container">
                <div class="landing-demo-stop landing-demo-stop--double"><div class="marker"></div><span class="landing-demo-stop__station-name">Station 1</span></div>
                <div class="landing-demo-stop landing-demo-stop"><div class="marker"></div><span class="landing-demo-stop__station-name">Station 1</span></div>
                <div class="metro-lines"></div>
                <div class="vehicle-position">
                    <div class="marker"></div>
                    <div class="label">
                        <span>Metro 14, on time</span>
                        <span>Last position update: 2 seconds ago</span>
                    </div>
                </div>
            </div>
            <div class="landing-demo-right flex-spacer">
                <div class="metro-lines"></div>
            </div>
        </div>
        <div class="container page__first__bottom">
            <div class="page__first__content">{{ .Content}}</div>
            <div class="tl-row tl-row--large-gap">
                <div class="btn btn--large btn--primary tl-col--6 tl-col--xs-12">
                    Getting Started
                </div>
                <div class="btn btn--large btn--primary tl-col--6 tl-col--xs-12">
                    API Overview
                </div>
            </div>
        </div>
    </section>

    {{ if or .Params.news_count_max .Params.cases_count_max }}
    <section class="page">
            {{ partial "home/news-cases.html" (dict
            "context" .
            "max_news" .Params.news_count_max
            "max_cases" .Params.cases_count_max
            "max_combined" .Params.combined_news_case_count_max
            )
            }}
    </section>
    {{end}}

    <section>
            {{ if .Params.Mc }}
            {{ partial "home/newsletter-signup.html" .}}
            {{ end }}

        {{ partial "home/partner-list.html" .}}
    </section>


</main>
{{ end }}

{{- define "page-script" -}}
<script type="text/javascript">

</script>
{{- end -}}
