{{ define "main" }}


<article class="section container">
    <div class="container--text">
    <div class="section__header">
        <h1 class="h1--tl-inverted">{{ .Title }}</h1>
        <div class="tl-lead-paragraph" style="margin-top:0">{{ .Content }}</div>
    </div>

    {{ range .Pages }}
    <a class="section__item tl-row tl-row--large-gap" title="{{ .Title }}" href="{{ .Permalink }}">
        <h2 class="section__item__header tl-col--xs-12 tl-col--sm-12">{{ .Title }}</h2>
        <div class="section__item__info tl-col--xs-12 tl-col--sm-12 {{ if .Params.Image }} tl-col--md-6 {{ else }} tl-col--md-12 {{ end }}">
            {{ if or .Lastmod .Date }}
            <div class="section__item__header__date">
                <label class="tl-label">Published {{ (default .Lastmod .Date).Format "2006-01-02" }}</label>
            </div>
            {{ end }}
            {{ if gt (len .Description) 0 }}
            <p class="section__item__info__description">{{ .Description | markdownify }}</p>
            {{ else }}
            <p class="section__item__info__description">{{ .Summary }}</p>
            {{ end }}
            <div class="flex-spacer"></div>
            <div class="flex-row-right">
                <div class="btn section__item__info__btn">Read more</div>
            </div>
        </div>

        {{ if .Params.Image }}
        {{ partial "responsive-image.html" (dict "context" . "src" (.Params.Image | safeURL) "alt" "Theme image" "class" "tl-image section__item__image tl-col--xs-12 tl-col--sm-12 tl-col--md-6") }}
        {{ end }}

    </a>
    {{ end }}
    </div>
</article>

{{ end }}

{{- define "page-script" -}}
{{ partial "js/code-blocks.html" .}}
{{ partial "js/sidebar-navigation.html" .}}
{{ partial "js/sidebar-toc.html" .}}
{{- end -}}

