{{ define "main" }}
{{ $image_class := "page--without-image" }}
{{ $image_position := "page--without-image" }}
{{ $background_position_class := "background-image--center" }}
{{ if .Params.image_position }}
{{ $background_position_class = printf "background-image--%s" .Params.image_position }}
{{ end }}

{{ with .Params.image }}
{{ $image_class = "page--with-image" }}
{{ $image := resources.Get (printf "%s" .) }}
{{ if $image }}
{{ if or (in . ".jpg") (in . ".png") }}
{{ $image = $image.Process "resize 1200x webp" }}
{{ end }}
<div class="background-image {{ $background_position_class }}" style="background-image: url('{{ $image.Permalink }}');"></div>
{{ end }}
{{ end }}
<article class="page {{ $image_class }} container">
    <div class="container container--text">
        <div class="page__header">
            <span class="subtext">{{.Parent.Title }} </span>
            <h1 class="h1--tl-inverted h1--no-top-margin">{{ .Title }}</h1>
        </div>
        <div class="page__toc">
            {{ partial "toc/mobile-toc.html" .}}
        </div>
        <div class="page__content">
            <p class="page__content__date">{{ if eq "News" .Parent.Title }}  {{ if .Date }} {{ dateFormat "January 2, 2006" .Date }} {{ end }} {{ end }}</p>
            {{ .Content }}
        </div>
        {{ partial "docs-footer.html" .}}
    </div>
</article>

{{ end }}

{{- define "page-script" -}}
{{ partial "js/code-blocks.html" .}}
{{ partial "js/sidebar-navigation.html" .}}
{{ partial "js/sidebar-toc.html" .}}
{{- end -}}
