{{ define "main" }}
{{ $image_class := "page--without-image" }}
{{ $image_position := "page--without-image" }}
{{ $background_position_class := "background-image--center" }}
{{ if .Params.image_position }}
{{ $background_position_class = printf "background-image--%s" .Params.image_position }}
{{ end }}

{{ with .Params.image }}
{{ $image_class = "page--with-image" }}
{{ $image := resources.Get (printf "%s" .) }}
{{ if $image }}
{{ if or (in . ".jpg") (in . ".png") }}
{{ $image = $image.Process "resize 1200x webp" }}
{{ end }}
<div class="background-image {{ $background_position_class }}" style="background-image: url('{{ $image.Permalink }}');"></div>
{{ end }}
{{ end }}
<article class="page {{ $image_class }} container">
    <div class="container container--text">
        <div class="page__header">
            <span class="subtext">{{.Parent.Title }} </span>
            <h1 class="h1--tl-inverted h1--no-top-margin">{{ .Title }}</h1>{{ if .Params.badge }}<span class="h1--badge">{{.Params.badge}}</span>{{end}}
        </div>
        <div class="page__toc">
            {{ partial "toc/mobile-toc.html" .}}
        </div>
        <div class="page__content">
            <p class="page__content__date">{{ if eq "News" .Parent.Title }}  {{ if .Date }} {{ dateFormat "January 2, 2006" .Date }} {{ end }} {{ end }}</p>
            {{ if .Params.generated_fallback_page }}
            <div class="admonition warning">
                <div class="admonition-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill"
                         viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                </div>
                <div class="content">
                    <p>
                        <strong>Obs:</strong> Detta innehåll finns inte tillgängligt på svenska. Därför ser du engelska versionen.
                        Om du tycker att denna sida borde översättas till svenska, kan du skriva till oss på <a href="https://support.trafiklab.se">support.trafiklab.se</a>.
                    </p>
                    <p>
                        Om du vill se webbsidan på engelska, <a href="https://trafiklab.se">klicka här</a>.
                    </p>
                </div>
            </div>
            {{ end }}

            {{ .Content }}

        </div>
        {{ partial "docs-footer.html" .}}
    </div>
</article>

{{ end }}

{{- define "page-script" -}}
{{ partial "js/code-blocks.html" .}}
{{ partial "js/sidebar-navigation.html" .}}
{{ partial "js/sidebar-toc.html" .}}
{{- end -}}
