<!DOCTYPE html>
<html lang="{{.Language.Lang}}">
  <head>
    {{ block "head" . }}{{ partial "head.html" .}}{{ end }}
  </head>
  {{ $sidebar := eq (.FirstSection.Param "sidebar") true }}
  <body class="type-{{ .Type }} {{ if $sidebar }} with-sidebar {{ end }}  {{ if not $sidebar }} with-footer {{ end }}">
  <div id="page-container">
    {{ block "header" . }}{{ partial "header.html" .}}{{ end }}
    <div id="page-content">
      {{ if $sidebar }}
      {{ block "sidebar" . }}{{ partial "sidebar/sidebar.html" .}}{{ end }}
      {{ block "main" . }} {{ end }}
    </div>
    {{ else }}
    {{ block "main" . }} {{ end }}
  </div>
  {{ block "footer" . }}
  {{ partial "footer.html" .}}
  {{ end }}
  {{ end }}
  </div>
  <script src="/scripts/jquery.2.2.4.min.js"></script>
  {{ partial "js/mobile-header.html }}
  {{ block "page-script" . }}{{ end }}
  </body>
</html>
