{{ define "main" }}

<main class="main-content">
  <div class="page">
    <div class="omtl-article-header__wrapper">
      <div class=" article-header__container">
        <h1>{{ .Title }}</h1>
        <div class="tl-lead-paragraph" style="margin-top:0">{{ .Content }}</div>
      </div>
      <div class="blogpost-overview-grid tl-card-list">
        {{ range .Pages }}
        <a class="tl-card-list__item blogpost-overview__link" title="{{ .Title }}" href="{{ .Permalink }}">
          <div class="blogpost-overview__post">
            {{ if .Params.Image }}
              {{ partial "responsive-image.html" (dict "context" . "src" (.Params.Image | safeURL) "alt" "Theme image" "class" "tl-image--full-width blogpost-overview__image") }}
            {{ end }}
            <div class="blogpost-overview__information">
              {{ if or .Lastmod .Date }}
              <div class="blogpost-overview__date">
                <label class="tl-label">{{ (default .Lastmod .Date).Format "2006-01-02" }}</label>
              </div>
              {{ end }}
              <div>
                <h2 class="mt-0 blogpost-overview__title">{{ .Title }}</h2>
                {{ if gt (len .Description) 0 }}
                <p class="blogpost-overview__description">{{ .Description | markdownify }}</p>
                {{ else }}
                <p class="blogpost-overview__description">{{ .Summary }}</p>
                {{ end }}
              </div>
            </div>
          </div>
        </a>
        {{ end }}
      </div>
    </div>
  </div>
</main>
{{ end }}

{{- define "page-script" -}}
{{ partial "js/code-blocks.html" .}}
{{ partial "js/sidebar-navigation.html" .}}
{{ partial "js/sidebar-search.html" .}}
{{- end -}}

