.tl-row {
  --col-gap: 16px;
  // No left or right margins here!
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--col-gap);

  &.tl-row--large-gap {
    --col-gap: 32px;
  }

  .tl-col {
    flex-grow: 1;
    flex-shrink: 0;
  }

  @for $i from 1 through 12 {
    .tl-col--#{$i} {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: calc(100% * #{$i} / 12 - var(--col-gap));
    }
  }

  @media screen and (max-width: $breakpoint-xs) {
    @for $i from 1 through 12 {
      .tl-col--xs-#{$i} {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: calc(100% * #{$i} / 12 - var(--col-gap));
      }
    }
  }
  @media screen and (min-width: $breakpoint-xs) {
    @for $i from 1 through 12 {
      .tl-col--sm-#{$i} {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: calc(100% * #{$i} / 12 - var(--col-gap));
      }
    }
  }
  @media screen and (min-width: $breakpoint-sm) {
    @for $i from 1 through 12 {
      .tl-col--md-#{$i} {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: calc(100% * #{$i} / 12 - var(--col-gap));
      }
    }
  }

  @media screen and (min-width: $breakpoint-md) {
    @for $i from 1 through 12 {
      .tl-col--lg-#{$i} {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: calc(100% * #{$i} / 12 - var(--col-gap));
      }
    }
  }
  @media screen and (min-width: $breakpoint-lg) {
    @for $i from 1 through 12 {
      .tl-col--xlg-#{$i} {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: calc(100% * #{$i} / 12 - var(--col-gap));
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .desktop-only {
    display: none !important;
  }
}

@media screen and (max-width: $breakpoint-xs) {
  .mobile-hidden {
    display: none !important;
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .desktop-hidden {
    display: none !important;
  }
}

@media screen and (min-width: $breakpoint-xs) {
  .mobile-only {
    display: none !important;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-right {
  display: flex;
  flex-direction: row-reverse;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-spacer {
  flex-grow: 1;
}