main.landing {

  font-size: $font-size-larger;

  section.page {
    min-height: 100vh;
  }

  section.page__first {
    min-height: unset;
    height: calc(100vh - #{$header-height});
    padding-bottom: $header-height;
  }

  h1 {
    display: flex;
    width: 100%;
    height: $font-size-hero + 8px;
    gap: $vertical-spacing-unit;

    span {
      display: inline-block;
      font-size: $font-size-hero;
      flex-grow: 1;
      // Equal padding is needed on every part so the inverted bits can matched without alignment issues
      height: $font-size-hero;
      padding-top: 4px;
      padding-bottom: 4px;
    }

    span.hero-text--inverted {
      flex-grow: 1;
      text-align: center;
    }
  }


  aside.recent-posts {
    .recent-posts__item {
      margin-bottom: 4 * $vertical-spacing-unit;

      h3 {
        margin-top: 0;
      }
    }

    .recent-posts__item__text {
      display: flex;
      flex-direction: column;
    }

    .recent-posts__item__image img {
      max-width: 100%;
    }

    div.tl-image {
      margin-bottom: 0;
    }
  }

  aside.newsletter-signup {
    background-color: $color-pink-hint;
    padding: 16px;

    label {
      display: block;
      width: 100%;
      margin-bottom: 2 * $vertical-spacing-unit;
    }

    input[type=email] {
      color: $color-purple-extra-dark;
      background-color: $color-pink-hint-whitened;
      border: none;
      border-bottom: 4px solid $color-purple-muted;
      padding: 8px 16px;
      font-weight: 500;
    }

    button[type=submit] {

    }
  }

  .landing-partners.landing-partners--desktop {
    height: 600px;
    gap: 0;

    .landing-partners-left, .landing-partners-right, .landing-partners-middle {
      position: relative;
    }

    .metro-top, .metro-bot, .metro-switch {
      position: absolute;
      z-index: -1;
      height: 12px;
      background-color: $color-yellow;
      left: 0;
      right: 0;
    }

    .metro-top {
      top: calc(50% - 50px);
    }

    .metro-bot {
      top: calc(50% + 50px);
    }

    .landing-partners-right {
      .metro-switch {
        left: 100px;
        width: 100px * 1.42;
        rotate: -45deg;
        top: 50%
      }

      .metro-bot {
        width: 100px + 24px;
      }
    }

    .tl-row {
      height: 300px;
    }

    .landing-partners__item {
      height: 36px;
      width: 250px;
      margin-left: -180px;

      .landing-partners__item__stop {
        display: block;
        width: 32px;
        height: 32px;
      }

      img {
        max-height: 36px;
        max-width: 160px;
        display: inline-block;
      }

      a {
        width: 250px;
        position: relative;
        top: -60px;
        left: 42px;
        display: inline-block;
      }

      rotate: -45deg;
    }

    .landing-partners__top-row {
      position: relative;
      flex-wrap: nowrap;
      bottom: calc(-50% + 138px);
      padding-left: 80px;
      margin-left: 54px;
    }

    .landing-partners__bottom-row {
      padding-left: 167px;
      flex-wrap: nowrap;
    }

    .landing-partners__bottom-row .landing-partners__item {
      .landing-partners__item__stop {
        margin-left: 54px;
      }

      a {
        right: 32px;
        left: 32px;
        top: -16px;
        margin-left: -100%;
        text-align: right;
      }
    }
  }

  .landing-partners.landing-partners--mobile {
    display: inline-flex;
    height: auto;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


    .landing-partners__item {
      height: 80px;
      width: 200px;
      margin-left: 0;
      align-content: center;

      a {
        margin: 0 auto;
        display: block;
        width: fit-content;
      }

      .landing-partners__item__stop {
        display: none;
      }

      img {
        max-height: 36px;
        max-width: 160px;
        display: inline-block;
      }
    }
  }


}

@media screen and (min-width: $breakpoint-sm) {
  main.landing {

  }
}

@media screen and (max-width: $breakpoint-sm) {
  main.landing {
    h1 {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: auto;

      span {
        margin-left: 0;
        text-wrap: balance;
        height: auto;
      }
    }

    .recent-posts__item {
      flex-direction: row-reverse;
    }
  }
}