$vertical-spacing-unit: 8px;

$container-width: 860px;

$left-sidebar-width: 320px;
$right-sidebar-width: $left-sidebar-width;
$sidebar-container-gap: 40px;

$article-image-height: 380px;
$article-image-height-no-sidebar: 480px;
$article-pullup-over-image: 140px;

html {
  height: 100%;
}
html, body {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  main#content {
    flex-grow: 1;
  }
}

.container {
  width: $container-width;
  margin: 0 auto;
}

@media screen and (max-width: $container-width) {
  .container {
    // When the container no longer has whitespace on the side through centering, margins need to be added
    width: auto;
    margin: 0 16px;
  }
}

body {
  // Leave room for fixed or absolute positioned header
  padding-top: $header-height;
}

@media screen and (max-width: $breakpoint-sm){
  // The header is not fixed below the small breakpoint.
  // When the header is no longer fixed, the padding is no longer needed
  body {
    padding-top: 0;
  }
}

body.with-sidebar, body:not(.type-home).without-sidebar {

  --article-padding-x: 96px;
  --article-padding-y: 32px;

  .content-center-wrapper {
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
  }

  .content-left-wrapper, .content-right-wrapper {
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
  }

  main#content {
    display: flex;
    flex-direction: row;
  }

  main#content .background-image {
    background-color: $color-pink-hint-whitened; // Fallback color to see the image region if the image fails to load
    position: absolute;
    z-index: -1;
    left: - $sidebar-container-gap;

    height: $article-image-height;
    width: $container-width + $sidebar-container-gap + $right-sidebar-width;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }

  article.page {
    margin-top: $article-image-height - $article-pullup-over-image;
    background-color: var(--color-background);
  }

  nav.right-sidebar-toc {
    z-index: 20;
    position: sticky;
    top: $header-content-height + 2 * $header-padding;
    max-width: $right-sidebar-width;
    margin-top: $article-image-height + 60px;
  }

  .page__toc {
    display: none; // inline table of contents should be hidden when sidebar toc is visible
  }

  .sidebar-sticky {
    // The sticky div for the sidebar
    position: sticky;
    top: $header-height;
    // Position right in the area left of the content, to be beside the centered content
    justify-self: right;
    margin-left: auto;
    margin-right: $sidebar-container-gap;
    // End of positioning

    // Flex for inner layout
    display: flex;
    flex-direction: column;

    max-width: $left-sidebar-width;
  }
}

body:not(.type-home).without-sidebar  {
  // When the left sidebar is not present, the image should stretch to both sides
  // The image can also be higher in these cases
  main#content .background-image {
    // The table of contents makes the right side of the image seem smaller. Reduce left side extension a bit (making it asymmetric) to make it seem symmetrical
    $weight-imbalance-compensation: 24px;
    left: - $right-sidebar-width + $weight-imbalance-compensation;
    height: $article-image-height-no-sidebar;
    width: $container-width + 2 * $right-sidebar-width - $weight-imbalance-compensation;
  }

  nav.right-sidebar-toc {
    margin-top: $article-image-height-no-sidebar + 60px;
  }


  article.page {
    margin-top: $article-image-height-no-sidebar - $article-pullup-over-image;
  }
}

article.page {
  padding: var(--article-padding-y) var(--article-padding-x);
}

div.tl-image {
  margin-bottom: 2 * $vertical-spacing-unit;

  img {
    display: block;
    max-width: 100%;
  }
}

.page__content div.wide {
  margin-left: calc(-2 / 3 * var(--article-padding-x));
  margin-right: calc(-2 / 3 * var(--article-padding-x));
}

@media screen and (max-width: $container-width) {
  body.with-sidebar, body:not(.type-home).without-sidebar {
    nav.left-sidebar {
      // Margins to prevent sticking to the side on small screens
      margin-left: 16px;
    }

    .content-right-wrapper {
      display: none; // Not present on mobile
    }

    main#content .background-image {
      width: 100%; // Auto width instead of fixed width
    }

    article.page {
      --article-padding-x: 64px;
      --article-padding-y: 24px;
    }
  }
}

@media screen and (max-width: $breakpoint-lg) {
  body.with-sidebar {
    .site-header__navbar {
      // The navbar would be centered between the sidebar and the content. Stretch it to full width instead on documentation pages
      margin: 0 16px;
      width: auto;
    }

    .content-left-wrapper {
      max-width: 320px;


      .sidebar-sticky {
        margin: 0; // no longer needed to compensate for metro lines
      }

      .metro-divider-mid {
        display: none;
      }

      .left-sidebar--top-space {
        display: none;
      }
    }
  }

  body:not(.type-home).without-sidebar {
    .content-left-wrapper {
      display: none;
    }
  }

  body.with-sidebar, body:not(.type-home).without-sidebar {

    .content-right-wrapper {
      display: none; // Not present on small screens
    }

    .page__toc {
      display: block; // inline table of contents should take over from sidebar
    }

    main#content .background-image {
      left: 0;
      height: $article-image-height;
      width: 100%;
    }
  }
}

