article.section {
 padding: 0 96px;

.section__item__image + .section__item__info {
  position: relative;
  top: -84px;

  .section__item__info__head {
    display: inline-block;
    background-color: $color-white;
    padding: 0 32px 0 0;

    h2 {
      display: block;
      width: 100%;
    }
  }
}

.section__item__image img {
  max-height: 380px;
  width: 100%;
  object-fit: cover;
}

}