article.section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
  padding: 0 96px;

  .section__header, .section__item {
    position: relative;
  }

  .section__item__header {
    margin-bottom: 0; // gap already takes care of this
  }

  .section__item__info, .section__item__image {
    display: flex;
    flex-direction: column;
  }

  .section__item__image {
    min-height: 100%;
    margin-bottom: 0;

    img {
      margin-top: 0;
      height: 100%;
      object-fit: cover;
    }
  }

  .section__item__header {
    display: flex;
    gap: 16px;
  }

  .section__item__header__date {
    min-width: fit-content; // Fix for chrome, edge
    margin-bottom: 16px;

    label {
      color: $color-purple-muted;
    }
  }

  .section__item__info__btn {
    position: relative;
    float:right;
    bottom: 0;
  }

  h2 {
    width: 100%;
  }

}

@media screen and (max-width: $breakpoint-sm) {
  .section__item__info {
    order: 1;
  }
}