article.section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
  padding: 0 96px;

  .section__header, .section__item {
    position: relative;
  }

  .section__item__image {
    max-height: 560px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 2 * $vertical-spacing-unit;
  }

  .section__item__header {
    display: flex;
    gap: 16px;
  }

  .section__item__header__date {
    margin-top: 44px;
    min-width: fit-content; // Fix for chrome, edge
  }

  .section__item__info__btn {
    position: relative;
    float:right;
    bottom: 0;
  }

  h2 {
    width: 100%;
  }

}