nav.tl-side-navigation {
  ul {
    // No list styles, no default margins or paddings
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul.tl-side-navigation--root {
    // Margin for the complete sidebar
    // The margin at the parent nav element is needed for the page layout, this margin is for the sidebar layout
    margin: 0 32px 0 0;
  }

  ul.tl-side-navigation--root, li.tl-side-navigation__item--level-0 {
    > a {
      @include sidebar-header-item;
      color: var(--color-sidebar-level1);
    }

    > a span {
      @include sidebar-header-item;
      color: var(--color-sidebar-level1);
    }
  }

  li.tl-side-navigation__item--level-0 {
    padding: 24px 0 0;
  }

  ul.tl-side-navigation__fixed-list--level-1 {
    // matching padding with the li items ensures consistent padding between items and at the top/bottom of the list
    padding: 4px 0 0;
  }

  li.tl-side-navigation__item--level-1 {
    // No indent, only space for the open/collapse icon when needed
    // Little space between items to keep clear visual grouping
    padding: 4px 0;

    > a {
      @include sidebar-list-item;
      color: var(--color-sidebar-level2);
    }

    > a span {
      @include sidebar-list-item;
      color: var(--color-sidebar-level2);
    }
  }

  .tl-side-navigation__dropdown-list--level-2 {
    padding: 4px 0 0;
  }
  .tl-side-navigation__item--level-2 {
    // No indent, only space for the open/collapse icon when needed
    // Little space between items to keep clear visual grouping
    padding: 4px 24px;

    > a {
      @include sidebar-list-item;
      color: var(--color-sidebar-level3);
    }

    > a span {
      @include sidebar-list-item;
      color: var(--color-sidebar-level3);
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  .tl-side-navigation__dropdown-list--level-2, .tl-side-navigation__dropdown-list--level-3 {
    display: none;
  }

  .tl-side-navigation__dropdown-list--level-2, .tl-side-navigation__dropdown-list--level-3 {
    display: none;
  }

  a.dropdown::before {
    content: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.656854 1.34315L6.31371 7L0.656854 12.6569' stroke='%23855F8C'/%3E%3C/svg%3E%0A");
    width: 20px;
    vertical-align: center;
    display: inline-block;
    position: relative;
    left: 4px;
    top: 0;
    margin-top: -9px;
  }


  li.tl-side-navigation__item--open-list {
    > a.dropdown::before {
      transform: rotate(90deg);
      top: 8px;
      left: 0;
    }
  }

  .tl-side-navigation__dropdown-list--active {
    display: block;
  }

  .tl-side-navigation__item--active {
    font-weight: bold;
  }
}

.metro-divider-top {
  // Top has absolute positioning to fit over header etc
  position: absolute;
  z-index: 100;
  height: $header-height;
  width: 56px;
  top: -$header-height;
  right: 26px;
  background-image: url("data:image/svg+xml,%3Csvg width='49' height='313' viewBox='0 0 49 313' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33 289L33 0' stroke='%23F4BFFF' stroke-width='8'/%3E%3Cpath d='M17.0085 289L17.0195 0.0249023' stroke='%23FFF199' stroke-width='8'/%3E%3Crect x='3.97157' y='292' width='42' height='18' rx='9' fill='%23FCFCFC' stroke='%231E1E1E' stroke-width='6'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: bottom;
}

.metro-divider-mid {
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='677' viewBox='0 0 25 677' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 677L21 0' stroke='%23F4BFFF' stroke-width='8'/%3E%3Cpath d='M4.97443 677L5 0' stroke='%23FFF199' stroke-width='8'/%3E%3C/svg%3E%0A");
  position: absolute;
  z-index: 99;
  top: 0;
  bottom: 0;
  background-repeat: repeat-y;
  background-position: right;
  margin-top: 0;
  height: 100%;
  width: 40px;
  right: 40px;
}