nav.tl-side-navigation {
  max-height: calc(100vh - #{2 * $header-height});
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: $color-purple-muted $color-purple-hint;
  scrollbar-gutter: stable;
  margin-left: 32px;
  padding-right: 32px;
  margin-bottom: $header-height;

  ul {
    // No list styles, no default margins or paddings
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a.tl-side-navigation__item {
    display: flex;
    padding-right: 8px;

    span {
      padding: 8px 0;
    }

    .tl-side-navigation__chevron_wrapper {
      display: inline-block;
      min-width: 24px;
      height: 24px;
      text-align: center;

      svg {
        padding: 4px;
        display: inline-block;
        height: 24px;
        width: 24px;
        stroke: var(--color-sidebar-item);
      }
    }
  }

  .tl-side-navigation__dropdown-list--level-2 .tl-side-navigation__chevron_wrapper {
    min-width: 36px;
    padding-left: 18px;
  }

  .tl-side-navigation__dropdown-list--level-3 .tl-side-navigation__chevron_wrapper {
    min-width: 56px;
    padding-left: 32px;
  }

  li {
    // No indent, only space for the open/collapse icon when needed
    // Little space between items to keep clear visual grouping
    display: block;

    > a {
      @include sidebar-list-item;
      color: var(--color-sidebar-item);
    }

    > a span {
      @include sidebar-list-item;
      color: var(--color-sidebar-item);
    }
  }

  ul.tl-side-navigation--root, li.tl-side-navigation__block--level-0 {
    > a {
      @include sidebar-header-item;
      color: var(--color-sidebar-group);
    }

    > a span {
      @include sidebar-header-item;
      color: var(--color-sidebar-group);
    }
  }

  ul.tl-side-navigation__fixed-list--level-1 {
    // matching padding with the li items ensures consistent padding between items and at the top/bottom of the list
    padding: 0;
  }

  li.tl-side-navigation__block--active, .tl-side-navigation__block:not(.tl-side-navigation__block--level-0):has(.tl-side-navigation__dropdown-list--active) {
    background-color: $color-purple-hint;
  }

  .tl-side-navigation__block--level-2 {
    // No indent, only space for the open/collapse icon when needed
    // Little space between items to keep clear visual grouping

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  .tl-side-navigation__dropdown-list--level-2, .tl-side-navigation__dropdown-list--level-3 {
    display: none;
  }

  li.tl-side-navigation__block--open-list.tl-side-navigation__block--level-1,
  li.tl-side-navigation__block--open-list.tl-side-navigation__block--level-2,
  li.tl-side-navigation__block--open-list.tl-side-navigation__block--level-3 {
    > a {
      border-bottom: 1px solid $color-purple-extra-muted;
    }

    > a .tl-side-navigation__chevron {
      transform: rotate(90deg);
    }
  }

  .tl-side-navigation__dropdown-list--active {
    display: block;
  }

  a.tl-side-navigation__item--active span {
    color: var(--color-sidebar-active) !important;
    font-weight: bold;
  }
}