nav.tl-side-navigation {

  max-height: calc(100vh - #{2 * $header-height});
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: $color-purple-muted $color-purple-hint;
  scrollbar-gutter: stable;
  margin-bottom: $header-height;

  ul {
    // No list styles, no default margins or paddings
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul.tl-side-navigation--root {
    // Margin for the complete sidebar
    // The margin at the parent nav element is needed for the page layout, this margin is for the sidebar layout
    margin: 0 16px 0 32px;
  }

  a.tl-side-navigation__click-target {
    padding: 4px 0;
    display: block;
  }

  ul.tl-side-navigation--root, li.tl-side-navigation__item--level-0 {
    > a {
      @include sidebar-header-item;
      color: var(--color-sidebar-level1);
    }

    > a span {
      @include sidebar-header-item;
      color: var(--color-sidebar-level1);
    }
  }

  li.tl-side-navigation__item--level-0 {
    padding: 16px 0 0;
  }

  ul.tl-side-navigation__fixed-list--level-1 {
    // matching padding with the li items ensures consistent padding between items and at the top/bottom of the list
    padding: 4px 0 0;
  }

  li.tl-side-navigation__item--active {
    background-color: $color-purple-hint;
  }

  li.tl-side-navigation__item--level-1 {
    // No indent, only space for the open/collapse icon when needed
    // Little space between items to keep clear visual grouping
    display: block;

    > a {
      @include sidebar-list-item;
      color: var(--color-sidebar-level2);
    }

    > a span {
      @include sidebar-list-item;
      color: var(--color-sidebar-level2);
    }
  }

  .tl-side-navigation__dropdown-list--level-2 {
    padding: 0;
  }

  .tl-side-navigation__item--level-2 {
    // No indent, only space for the open/collapse icon when needed
    // Little space between items to keep clear visual grouping
    padding: 0 16px;

    > a {
      @include sidebar-list-item;
      color: var(--color-sidebar-level3);
    }

    > a span {
      @include sidebar-list-item;
      color: var(--color-sidebar-level3);
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  .tl-side-navigation__dropdown-list--level-2, .tl-side-navigation__dropdown-list--level-3 {
    display: none;
  }

  .tl-side-navigation__dropdown-list--level-2, .tl-side-navigation__dropdown-list--level-3 {
    display: none;
  }

  a.dropdown::before {
    content: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.656854 1.34315L6.31371 7L0.656854 12.6569' stroke='%23855F8C'/%3E%3C/svg%3E%0A");
    width: 20px;
    vertical-align: center;
    display: inline-block;
    position: relative;
    left: 4px;
    top: 0;
    margin-top: -9px;
  }

  .tl-side-navigation__fixed-list--level-1 a:not(.dropdown) {
    padding-left: 24px;
  }


  li.tl-side-navigation__item--open-list {
    > a.dropdown::before {
      transform: rotate(90deg);
      top: 8px;
      left: 0;
    }
  }

  .tl-side-navigation__dropdown-list--active {
    display: block;
  }

  a.tl-side-navigation__click-target--active span {
    color: var(--color-sidebar-active) !important;
    font-weight: bold;
  }
}