$next-element-spacing: 8px;

html, body {
  // Apply default font
  @include text-body;
}

a, p, span, ul, li, label, input {
  @include text-body;
}

a {
  text-decoration: none;
}

p a {
  @include text-link
}

strong a, a:has(strong) {
  box-shadow: none;
}

p a:hover {
  @include text-link-hover
}

p {
  margin: 0 0 $vertical-spacing-unit;;
}

::selection {
  background-color: var(--color-text-selection);
}

blockquote {
  color: var(--color-text-accent);
  padding: 24px;
  margin-left: 0;
  border-left: 2px solid var(--color-muted-accent);

  span, p {
    color: var(--color-text-accent);
  }
}

blockquote, p, ul, ol {
  margin-bottom: $next-element-spacing;
}

hr {
  color: var(--color-text);
}

code, pre {
  @include font-monospace;
  font-size: $font-size-smaller;
  span {
    @include font-monospace;
    font-size: $font-size-smaller;
  }
}

:not(pre) > code {
  background-color: var(--color-code-inline-background);
  padding: 3px 4px; // 3px becomes a total of 6 when on top + bottom, matching the difference in a 2px smaller font + 2px on each side
}

h1 {
  @include text-h1;
  display: inline-block;

  &.h1--no-top-margin {
    margin-top: 0;
  }

  &.h1--tl-inverted, & .h1--tl-inverted {
    @include text-h1-background;
  }

}

h1 > span {
  @include text-h1;
  margin: 0;
}

@media screen and (max-width: $breakpoint-xs) {
  h1 {
    text-wrap: wrap;
  }
}

span.subtext {
  @include text-subtext;
  display: block;
  padding: 0;
  margin: 0;
  height: 22px;

  &:has(+ h1) {
    // If followed by an h1 element, this span should take care of the negative space
    // The h1 element should not have any top margin
    margin-top: 42px;
  }
}

h2, .tl-h2 {
  @include text-h2;
  color: var(--color-h2-foreground);

  &.h2--pink-accent {
    --color-h2-accent: #{$color-pink-hint};
  }
}

.tl-h2--small {
  @include text-h2-small;
}

h3 {
  @include text-h3;
}

h4 {
  @include text-h4;
}

h5 {
  @include text-h4;
}

h6 {
  @include text-h4;
}

.tl-caption {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: $color-purple-extra-dark
}

.tl-image--center .tl-caption {
  // caption under a centered image should be centered
  width: 100%;
  text-align: center;
}