/* Reset browser defaults */
@import 'modern-normalize';

/* Load fonts */
@import "fonts";

/* Load variables and styles */
@import "var/colors";
@import "var/text_styles";

$breakpoint-xs: 600px;
$breakpoint-sm: 860px;
$breakpoint-md: 960px;
$breakpoint-lg: 1100px;

/* Start design */

// Header, sidebars, containers
@import "grid";
@import "header";
@import "layout";
@import "footer";

// Typographic elements
@import "typography";

// Landing page
@import "landing";
// Section overview pages (news, use cases)
@import "section";
// Navigation sidebar
@import "sidebar_left_nav";
// Table of content sidebar
@import "sidebar_right_toc";

// Shortcodes
@import "shortcodes/admoniton";
@import "shortcodes/highlight";
@import "shortcodes/tabs";
@import "shortcodes/swagger_ui";
@import "shortcodes/page_ref";
