<!DOCTYPE html>
<html>
  <head>
    {{ block "head" . }}{{ partial "head.html" .}}{{ end }}
  </head>
  {{ $sidebar := eq (.FirstSection.Param "sidebar") true }}
  <body class="type-{{ .Type }} {{ if $sidebar }} type-with-sidebar {{ end }}">
    <div id="page-container">
      {{ block "header" . }}{{ partial "header.html" .}}{{ end }}
      {{ if $sidebar }}
        {{ block "sidebar" . }}{{ partial "sidebar.html" .}}{{ end }}
        {{ block "main" . }}
        {{ end }}
      {{ else }}
        <main id="main-content">
          {{ block "main" . }}
          {{ end }}
        </main>
        {{ block "footer" . }}
          {{ partial "footer.html" .}}
        {{ end }}
      {{ end }}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    {{ block "page-script" . }}{{ end }}
  </body>
</html>
