{{ define "main" }}
<main>
    <section class="header-section section-contrast">
      <div class="header-container tl-grid tl-grid__container tl-grid--spacing-large tl-grid--spacing-row-undefined">
        <div class="tl-grid tl-grid__item tl-grid--small-12 tl-grid--medium-7">
          <h1 class="tl-brand">{{ .Title }}</h1>

          {{ .Content}}
          <!-- landing page layout -->
        </div>
        <div class="tl-grid tl-grid__item tl-grid--small-12 tl-grid--medium-5">
          <img class="hero-illustration" src="{{ .Params.Hero }}" alt="{{ i18n "hero-aria-image"}}">
        </div>
      </div>
    </section>

    <div class="home-container__segment home-container__front-blocks">
      <div class="tl-grid home-container__navigation-cards tl-grid__container tl-grid--spacing-large">

        {{ $headless := .Site.GetPage "/headless" }}
        {{ $frontBlocks := $headless.Resources.Match "front*" }}
        {{ range sort ($frontBlocks)  "Params.weight" }}
          <div class="tl-grid tl-grid__item tl-grid--small-12 tl-grid--medium-4">
            <a class="tl-base-card tl-navigation-card" href="{{ .Params.link }}">
              <div class="tl-navigation-card__title-icon">
                <img src="{{ .Params.icon }}" role="presentation">
              </div>
              <span class="tl-navigation-card__title">{{ .Title }}</span>
              <div class="tl-paragraph mt-0">{{ .Content }}</div>
            </a>
          </div>
        {{ end }}

      </div>
    </div>

    {{ if .Params.highlighted_page }}
    {{ $page := .Site.GetPage .Params.highlighted_page}}
    <div class="home-container__segment">
    {{ partial "image_header.html" (dict "context" . "src" $page.Params.image "alt" "Theme image" "title" $page.Title "link" $page.Permalink) }}
    </div>
    {{ end }}

    {{ if or .Params.news_section .Params.cases_section }}
      <div class="home-container__segment">
        <div class="tl-grid home-container__cases_news tl-grid__container tl-grid--spacing-large tl-grid--spacing-row-undefined">

          {{ if .Params.cases_section }}
            {{ partial "recent_list.html" (dict "context" . "type" "cases") }}
          {{end}}

          {{ if .Params.news_section }}
            {{ partial "recent_list.html" (dict "context" . "type" "news") }}
          {{end}}
        </div>
      </div>
    {{end}}


    {{ if .Params.Mc }}
      {{ partial "mailchimp.html" .}}
    {{ end }}

</main>
{{ end }}

{{- define "page-script" -}}
<script type="text/javascript">

$(function () {
    const $first = $('.landing-roller:first');
    const $second = $('.landing-roller').eq(1);
    const rollerValues = [
        {{ range .Params.landingRoller }}
        [
            "{{ .dataName }}",
            "{{ .dataLink }}",
            "{{ .caseName }}",
            "{{ .caseLink }}",
        ],
        {{ end }}
    ]

    count = 0;
    setInterval(function () {
        $first.addClass('landing-roller--changing')
        $second.addClass('landing-roller--changing')
    }, 4500)
    setTimeout(function () {
        setInterval(function () {
            count++;
            let item = rollerValues[count % rollerValues.length];
            $first.text(item[0]);
            $first.attr("href", item[1]);
            $second.text(item[2]);
            $second.attr("href", item[3]);
        }, 4500);
    }, 500);
    setTimeout(function () {
        setInterval(function () {
            $first.removeClass('landing-roller--changing')
            $second.removeClass('landing-roller--changing')
        }, 4500);
    }, 1000);
});

</script>
{{- end -}}
