<div class="container">
    <h2 class="h2--pink-accent">{{i18n "stay-informed-title"}}</h2>
    <aside class="newsletter-signup">
        <form id="newsletter-form">
            <label for="mce-EMAIL">{{i18n "stay-informed-paragraph"}}</label>
            <div class="tl-row">
                <input type="email" value="" name="EMAIL" class="email tl-col--md-9 tl-col--sm-9 tl-col--xs-12" id="mce-EMAIL" placeholder="{{ i18n "newsletter-email-placeholder" }}" required>
                <button type="submit" value="Subscribe" name="subscribe" id="newsletter-subscribe"
                        class="tl-button tl-button--primary tl-col--md-3 tl-col--sm-3 tl-col--xs-12">{{i18n "newsletter-email-subscribe"}}
                </button>
            </div>
        </form>
    </aside>
</div>

<script type="text/javascript">
  document.getElementById("newsletter-form").addEventListener('submit', signupForNewsletter)

  async function signupForNewsletter(event) {
    event.preventDefault();
    let email = $('#mce-EMAIL').val()
    let button = document.getElementById("newsletter-subscribe")
    button.classList.add("tl-button--state-loading")
    fetch("{{ .Site.Params.devPortalUrl }}/api/trafiklab-se/newsletter/subscribe?email=" + email)
      .then(      data => button.classList.add("tl-button--state-success"))
      .catch(exception => button.classList.add("tl-button--state-failed"))
    }
</script>
