<div class="container">
    <h2 class="h2--pink-accent">Stay informed</h2>
    <aside class="newsletter-signup">
        <form action="https://{{ .Site.Params.mailchimpAccount }}.list-manage.com/subscribe/post?u={{ .Site.Params.mailchimpUser }}&amp;id={{ .Site.Params.mailchimpId }}"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Enter your mail address and subscribe to our newsletter in order to receive occasional updates regarding our data and
                    events.</label>
                <div class="tl-row">
                    <input type="email" value="" name="EMAIL" class="email tl-col--md-10 tl-col--sm-9 tl-col--xs-12" id="mce-EMAIL" placeholder="Your email address" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                              name="b_{{ .Site.Params.mailchimpUser }}_{{ .Site.Params.mailchimpId }}"
                                                                                              tabindex="-1" value=""></div>
                    <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn--primary tl-col--md-2 tl-col--sm-3 tl-col--xs-12">Subscribe</button>
                </div>
            </div>
        </form>
    </aside>
</div>
