{{ $headless := .Site.GetPage "/headless" }}
{{ $logos := $headless.Resources.Match "logowall/*" }}
{{ if $logos }}
<div class="container">
    <h2>{{ i18n "partnerlist-title" }}</h2>
    <p>{{ i18n "partnerlist-paragraph" }}</p>
    <div class="tl-grid tl-grid__container">
        {{ range sort $logos }}
        <div class="tl-grid__item tl-grid--small-12 tl-grid--medium-6 tl-grid--large-3">
            <a class="partnerlist__logo" href="{{ .Params.link }}" title="{{ .Params.Title }}">
                {{ $image := resources.Get (printf "%s" .Params.Image) }}
                {{ if $image }}
                {{ if in .Params.Image ".jpg" }}
                {{ $image := $image.Resize "240x webp" }}
                {{ end }}
                <img src="{{ $image.Permalink }}" alt="{{.Title}}"
                     title="{{.Title}}">
                {{ end }}
            </a>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}