{{ $args := . }}
{{ $currentPage := $args.currentPage }}
{{ $targetPage := $args.targetPage }}
{{ $hasChildren := (isSet $args "hasChildren") }}

<a class="tl-side-navigation__click-target child-title
      {{ if $hasChildren }} dropdown {{end}}
      {{ if eq $currentPage.Permalink $targetPage.Permalink }} tl-side-navigation__click-target--active {{end}}"
   href="{{ $targetPage.Permalink }}">
    <span>{{ $targetPage.Title }}</span>

    {{ if $targetPage.Params.badge }}
    {{ partial "badge-new.html" $targetPage.Params.badge }}
    {{ end }}

    {{ if $hasChildren }}
    <span class="dropdown-toggle"></span>
    {{end}}
</a>