<footer class="docs-footer">
    <div class="docs-footer__container">
        <h3>{{ i18n "docs-footer-about-this-page" }}</h3>
        {{ if .Date }}<p>{{ i18n "docs-footer-published-at" }} {{ .Date.Format "January 2, 2006" }}.</p>{{ end }}
        <p>{{ i18n "docs-footer-last-modified" }} {{ .Lastmod.Format "January 2, 2006" }}.</p>
        <h3>{{ i18n "docs-footer-something-wrong" }}</h3>
        {{ if isset $.Site.Params "support" }}
        <p><a href="{{ $.Site.Params.support }}">{{ i18n "docs-footer-report-issue" }}</a></p>
        {{ end }}
        {{ if isset $.Site.Params "repository" }}
        <p><a href="{{ $.Site.Params.repository }}blob/main/content/{{ replace .File.Path " \\" "/" }}">
        {{ i18n "docs-footer-edit-on-github" }}
        </a></p>
        {{ end }}
    </div>
</footer>