{{ $args := . }}
<div class="tl-grid tl-grid__item tl-grid--small-12 tl-grid--medium-6 section-recent-list">
    <a href="{{ ($args.context.Site.GetPage (print $args.type)).Permalink }}"><h2 class="tl-h2">{{ ($args.context.Site.GetPage (print $args.type)).Title }}</h2></a>
    <div class="tl-card-list">
        {{ range ( where $args.context.Site.RegularPages "Type" (print $args.type) | first 3 ) }}
        <a class="tl-card-list__item" href="{{ .Permalink }}">
            <h3 class="list-item-title">{{ .Title }}</h3>
            {{ if gt (len .Summary) 200 }}
            <p class="tl-paragraph tl-paragraph--margin-bottom">{{ .Summary | markdownify | truncate 300 }}</p>
            {{ else }}
            <p class="tl-paragraph tl-paragraph--margin-bottom">{{ .Summary | markdownify }}</p>
            {{ end }}
            <svg class="tl-icon tl-navigattion-card__icon tl-navigation-card__arrow-icon" viewBox="0 0 16 16" width="1em" height="1em" color="currentColor">
                <path fill="currentColor" fill-rule="evenodd" d="M10.043 2.76l-.943.943 3.625 3.623H1V8.66l11.726-.001L9.1 12.284l.943.943 4.762-4.762a.667.667 0 00.07-.86l-.07-.083-4.762-4.762z" clip-rule="evenodd"></path>
            </svg>
        </a>
        {{end}}
    </div>
</div>