<div class="site-sidebar-wrapper">
  <div class="menu">
    <div class="menu__top">
      <div class="tl-form-control-wrapper tl-form-control-wrapper--size-medium">
        <div class="tl-form-control__prepend">
          <svg viewBox="0 0 16 16" width="1em" height="1em" class="tl-icon  tl-icon--inline" color="currentColor"><path fill="currentColor" fill-rule="evenodd" d="M6.795 1a5.795 5.795 0 014.548 9.388L15 14.044l-.956.956-3.656-3.657A5.795 5.795 0 116.796 1zm0 1.352a4.443 4.443 0 100 8.885 4.443 4.443 0 000-8.885z" clip-rule="evenodd"></path></svg>
        </div>
        <label class="" id="tl-textfield-7376805771428288">
          <span class="tl-input-group__label">Search... </span>
        </label>
        <input aria-invalid="false" class="tl-form-control fuzzy-search" aria-labelledby="tl-textfield-7376805771428288" width="fluid" value="">
      </div>
    </div>
    {{ $currentPage := . }}
    {{ $root := .FirstSection }}
    <ul class="tl-side-navigation tl-side-navigation--small list">
      {{ if not $root.Params.headless }}
      <li class="tl-side-navigation tl-side-navigation__item">
        <a class="tl-side-navigation__click-target {{ if eq $currentPage.Permalink $root.Permalink }} tl-side-navigation__click-target--active{{end}}"
           href="{{ $root.Permalink }}">
          <span class="title">{{ $root.Title }}</span>
        </a>
      </li>
      {{ end }}
      {{- range $i, $e := $root.Pages -}}
      <li class="tl-side-navigation__item">
        {{ if .Page.Params.headless }}
        <div class="tl-side-navigation__click-target tl-side-navigation-group">{{ .Title }}</div>
        {{ end }}
        {{ if not .Page.Params.menu }}
        <ul class="tl-side-navigation tl-side-navigation--small">
          {{- range $i, $e := .Data.Pages -}}
          <li class="tl-side-navigation__item">
            {{ if .Data }}
                    <a class="tl-side-navigation__click-target child-title dropdown{{ if eq $currentPage.Permalink .Permalink }} tl-side-navigation__click-target--active{{end}}" href="{{ .Permalink }}">
                      <span class="title">{{ .Title }}</span>
                      <span class="dropdown-toggle"></span>
                    </a>
                    <ul class="tl-side-navigation tl-side-navigation--small dropdown-list">
                      {{- range $i, $e := .Data.Pages -}}
                        <li class="tl-side-navigation__item">
                          {{ if .Data }}
                            <a class="tl-side-navigation__click-target child-title dropdown{{ if eq $currentPage.Permalink .Permalink }} tl-side-navigation__click-target--active{{end}}" href="{{ .Permalink }}">
                              <span class="title">{{ .Title }}</span>
                              <span class="dropdown-toggle"></span>
                            </a>
                            <ul class="tl-side-navigation tl-side-navigation--small dropdown-list">
                              {{- range $i, $e := .Data.Pages -}}
                                <li class="tl-side-navigation__item">
                                  <a class="tl-side-navigation__click-target child-title{{ if eq $currentPage.Permalink .Permalink }} tl-side-navigation__click-target--active{{end}}" href="{{ .Permalink }}">{{ .Title }}</a>
                                </li>
                              {{- end -}}
                            </ul>
                          {{ else }}
                            <a class="tl-side-navigation__click-target child-title{{ if eq $currentPage.Permalink .Permalink }} tl-side-navigation__click-target--active{{end}}" href="{{ .Permalink }}">{{ .Title }}</a>
                          {{ end }}
                        </li>
                      {{ end }}
                    </ul>
                  {{ else }}
                    {{ $hierarchy := split .Page.File.Dir "/" }}
                    {{ if not (index $hierarchy 2) }}
                      <a class="tl-side-navigation__click-target child-title{{ if eq $currentPage.Permalink .Permalink }} tl-side-navigation__click-target--active{{end}}" href="{{ .Permalink }}">{{ .Title }}</a>
                    {{ end }}
                  {{ end }}
                </li>
              {{ end }}
            </ul>
          {{ end }}
        </li>
      {{- end -}}
    </ul>
  </div>
</div>
