// Franklin Gothic Condensed
@font-face {
  font-family: 'Franklin Gothic Condensed';
  src: url('/fonts/franklin_gothic/franklin_gothic_condensed.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}