// Franklin Gothic Condensed
@font-face {
  font-family: 'Franklin Gothic Condensed';
  src: url('/fonts/league_gothic/league_gothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}