// IBM Plex Sans Condensed

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url('/fonts/ibm_plex_sans_condensed/ibmplexsanscondensed-light-webfont.woff2') format('woff2'),
  url('/fonts/ibm_plex_sans_condensed/ibmplexsanscondensed-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url('/fonts/ibm_plex_sans_condensed/ibmplexsanscondensed-lightitalic-webfont.woff2') format('woff2'),
  url('/fonts/ibm_plex_sans_condensed/ibmplexsanscondensed-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url('/fonts/ibm_plex_sans_condensed/ibmplexsanscondensed-regular-webfont.woff2') format('woff2'),
  url('/fonts/ibm_plex_sans_condensed/ibmplexsanscondensed-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url('/fonts/ibm_plex_sans_condensed/ibmplexsanscondensed-italic-webfont.woff2') format('woff2'),
  url('/fonts/ibm_plex_sans_condensed/ibmplexsanscondensed-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url('/fonts/ibm_plex_sans_condensed/ibmplexsanscondensed-medium-webfont.woff2') format('woff2'),
  url('/fonts/ibm_plex_sans_condensed/ibmplexsanscondensed-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url('/fonts/ibm_plex_sans_condensed/ibmplexsanscondensed-mediumitalic-webfont.woff2') format('woff2'),
  url('/fonts/ibm_plex_sans_condensed/ibmplexsanscondensed-mediumitalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url('/fonts/ibm_plex_sans_condensed/ibmplexsanscondensed-semibold-webfont.woff2') format('woff2'),
  url('/fonts/ibm_plex_sans_condensed/ibmplexsanscondensed-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url('/fonts/ibm_plex_sans_condensed/ibmplexsanscondensed-semibolditalic-webfont.woff2') format('woff2'),
  url('/fonts/ibm_plex_sans_condensed/ibmplexsanscondensed-semibolditalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url('/fonts/ibm_plex_sans_condensed/ibmplexsanscondensed-bold-webfont.woff2') format('woff2'),
  url('/fonts/ibm_plex_sans_condensed/ibmplexsanscondensed-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: url('/fonts/ibm_plex_sans_condensed/ibmplexsanscondensed-bolditalic-webfont.woff2') format('woff2'),
  url('/fonts/ibm_plex_sans_condensed/ibmplexsanscondensed-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}