// JetBrains Mono

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrains_mono/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/jetbrains_mono/JetBrainsMono-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
