// League Gothic
@font-face {
  font-family: 'League Gothic';
  src: url('/fonts/league_gothic/league_gothic.woff2') format('woff2'),
  url('/fonts/league_gothic/league_gothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}