#main-content {
  margin: 0 1.5rem;
  max-width: 100%;
  padding-bottom: 29rem;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

body.type-home #main-content {
  margin: 0;
}

@media screen and (min-width: $breakpoint-mobile) {
  #main-content {
    margin: auto;
    max-width: 1376px;
    min-height: 31rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .content-wrapper {
    margin: 0 auto;
  }

  body.type-home #main-content {
    max-width: none;
    padding-right: 0;
    padding-left: 0;
  }
}

.with-sidebar #page-content {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: $breakpoint-mobile){
  .with-sidebar #page-content {
    flex-direction: column-reverse;
  }


}

.main-content {
  flex-grow: 1;
}

.main-content > .page {
  margin: 0 auto;
  padding: 0 24px;
}

// Content
@media screen and (min-width: $breakpoint-mobile) {
  .page {
    width: 700px;
    max-width: 100%;
  }
  .with-sidebar .page {
    width: 100%;
    max-width: 700px;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .page {
    width: 900px;
    max-width: 100%;
  }

  .with-sidebar .page {
    width: 100%;
    max-width: 1100px;
  }
}

@media screen and (min-width: $breakpoint-mobile) {
  .main-content-wrapper {
    overflow-x: visible;
  }
}

div.tl-image {

  display: flex;
  flex-direction: column;
  align-items: center;

  &.tl-image--left {
    align-items: start;
  }

  &.tl-image--right {
    align-items: end;
  }

  img {
    display: block;
    max-width: 60%;
    border-radius: $border-radius-default / 2;
  }

  img.tl-image--full-width {
    max-width: 100%;
    width: 100%;
  }

  .tl-caption {
    color: $gray-dark;
  }

  img.vh20 {
    max-height: 20vh;
  }

  img.vh30 {
    max-height: 30vh;
  }

  img.vh40 {
    max-height: 40vh;
  }

  img.vh50 {
    max-height: 50vh;
  }
}