$black: #232323;
$grey: #ededed;
$purple: #9b26b6;
$light-purple: #b84bd2;
$pink: #f277c6;

$alt-grey: #f2f2f2;
$border-grey: #c5c5c5;
$light-border-grey: #e9e9e9;
$grey-font: #545454;

$gray-extra-light: #f3f3f3;
$gray-light: #ededed;
$gray-medium: #999999;
$gray-dark: #656769;

$dark-bg: $black;
$light-bg: $grey;

$header-height: 96px;


$breakpoint-mobile: 760px;
$breakpoint-md: 960px;
$breakpoint-lg: 1100px;
$breakpoint-xl: 1250px;

$primary-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$alternative-font: "Raleway", $primary-font;
$brand-font: "League Gothic", $alternative-font;
$code-font: ui-monospace, SFMono-Regular, Consolas, liberation mono, Menlo, monospace;

$sidebar-width: 320px;
$sidebar-width-lg: 420px;
$footer-height: 29rem;

$border-radius-default: .5rem;