{{ define "main" }}
    <section class="header-section section-contrast">
      <div class="header-container">
        <h1>{{ .Title }}</h1>

        {{ .Content}}
        <!-- landing page layout -->
      </div>
    </section>

    <div class="home-container__segment">
      <div class="tl-grid home-container__navigation-cards tl-grid__container tl-grid--spacing-large">

        {{ $headless := .Site.GetPage "/headless" }}
        {{ $frontBlocks := $headless.Resources.Match "front*" }}
        {{ range $frontBlocks }}
          <div class="tl-grid tl-grid__item tl-grid--small-12 tl-grid--medium-4">
            <a class="tl-base-card tl-navigation-card" href="{{ .Params.Link }}">
              <div class="tl-navigation-card__title-icon">
                <img src="{{ .Params.Icon }}">
              </div>
              <span class="tl-navigation-card__title">{{ .Title }}</span>
              <div class="tl-paragraph tl-paragraph--margin-bottom">{{ .Content }}</div>
              <div class="tl-button">{{ .Params.Cta }}</div>
            </a>
          </div>
        {{ end }}

      </div>
    </div>

    <div class="home-container__segment">
      <div class="tl-grid home-container__traveling-abroad tl-grid__container tl-grid--spacing-large tl-grid--spacing-row-undefined">
        <div class="tl-grid tl-grid__item tl-grid--small-12 tl-grid--medium-6">
          <h2 class="tl-h2">Use cases</h2>
          {{ range ( where .Site.RegularPages "Type" "cases" | first 3 ) }}
            <a class="tl-media-card__text" href="{{ .Permalink }}">
              <div class="tl-base-card tl-base-card tl-media-card article-preview-card">
                <div class="tl-media-card__media">
                  <img src="{{ .Params.Image }}">
                </div>
                <div class="tl-media-card__text">
                  <label class="tl-label tl-media-card__category"></label>
                  <div class="tl-media-card__title">{{ .Title }}</div>
                  <p class="tl-paragraph tl-paragraph--margin-bottom">{{ .Summary }}</p>
                  <svg class="tl-icon tl-media-card__arrow-icon" viewBox="0 0 16 16" width="1em" height="1em" color="currentColor">
                    <path fill="currentColor" fill-rule="evenodd" d="M10.043 2.76l-.943.943 3.625 3.623H1V8.66l11.726-.001L9.1 12.284l.943.943 4.762-4.762a.667.667 0 00.07-.86l-.07-.083-4.762-4.762z" clip-rule="evenodd"></path>
                  </svg>
                </div>
              </div>
            </a>
          {{end}}
        </div>

        <div class="tl-grid tl-grid__item tl-grid--small-12 tl-grid--medium-6">
          <div class="tl-grid tl-grid__container tl-grid--spacing-large tl-grid--spacing-row-undefined">
            <h2 class="tl-h2">News</h2>
            {{ range ( where .Site.RegularPages "Type" "news" | first 3 ) }}
              <div class="tl-grid tl-grid__item tl-grid--small-12">
                <a class="tl-base-card tl-navigation-card tl-base-card--red-line tl-navigation-card--compact" href="{{ .Permalink }}">
                  <span class="tl-navigation-card__title">{{ .Title }}</span>
                  <div class="tl-paragraph tl-paragraph--margin-bottom">{{ slicestr .Summary 0 200 | markdownify }} ...</div>
                  <svg class="tl-icon tl-navigattion-card__icon tl-navigation-card__arrow-icon" viewBox="0 0 16 16" width="1em" height="1em" color="currentColor">
                    <path fill="currentColor" fill-rule="evenodd" d="M10.043 2.76l-.943.943 3.625 3.623H1V8.66l11.726-.001L9.1 12.284l.943.943 4.762-4.762a.667.667 0 00.07-.86l-.07-.083-4.762-4.762z" clip-rule="evenodd"></path>
                  </svg>
                </a>
              </div>
            {{end}}
          </div>
        </div>

      </div>
    </div>

    <aside class="newsletter-signup">
      <!-- Begin Mailchimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
      <style type="text/css">
      	#mc_embed_signup{clear:left; width:100%;}
      	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
      	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup">
      <form action="https://trafiklab.us20.list-manage.com/subscribe/post?u={{ .Params.Mc_user }}&amp;id={{ .Params.Mc_id }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
      	<label for="mce-EMAIL">Subscribe to our newsletter</label>
      	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_{{ .Params.Mc_user }}_{{ .Params.Mc_id }}" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>
      </div>
      <!--End mc_embed_signup-->
    </aside>

{{ end }}
