<script type="application/ld+json">
{{/* This snippet will cause breadcrumbs to show up in for example Google search results */}}
{{ $tree := slice . }}
{{ $page := .Parent }}
{{/* There is no while loop, so just try 7 levels, this should suffice for every page */}}
{{ if $page }}{{ if $page.Parent}}
{{ $tree = $tree | append (slice $page.Parent) }} {{ $page = $page.Parent }}
{{ end }}{{ end }}
{{ if $page }}{{ if $page.Parent}}
{{ $tree = $tree | append (slice $page.Parent) }} {{ $page = $page.Parent }}
{{ end }}{{ end }}
{{ if $page }}{{ if $page.Parent}}
{{ $tree = $tree | append (slice $page.Parent) }} {{ $page = $page.Parent }}
{{ end }}{{ end }}
{{ if $page }}{{ if $page.Parent}}
{{ $tree = $tree | append (slice $page.Parent) }} {{ $page = $page.Parent }}
{{ end }}{{ end }}
{{ if $page }}{{ if $page.Parent}}
{{ $tree = $tree | append (slice $page.Parent) }} {{ $page = $page.Parent }}
{{ end }}{{ end }}
{{ if $page }}{{ if $page.Parent}}
{{ $tree = $tree | append (slice $page.Parent) }} {{ $page = $page.Parent }}
{{ end }}{{ end }}
{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
{{ range $index, $element := $tree.Reverse }}
{{ if and (eq $index 0) (eq .Lang "sv")}}
    {
    "@type": "ListItem",
    "position": 0,
    "name": "Svenska",
    "item": {{ ref . "/"  }}
    },
{{ end }}
    {
    "@type": "ListItem",
    "position": {{ (add $index 1) }},
    "name": {{ $element.Title }},
    "item": {{ $element.Permalink }}
    },
{{ end }}]
}
</script>
