// Content footer
.docs-footer {
  border-top: 2px solid $light-border-grey;
  padding: .5rem 0;
  margin-top: 1rem;

  .docs-footer__container {
    border-radius: $border-radius-default;
    background-color: $grey;
    padding: 1rem;

    :first-child {
      margin-top: 0;
    }
  }
}
