<script type="text/javascript">
    $('.dropdown-list').hide();
    $('.tl-side-navigation__click-target--active').parents('.dropdown-list').show();
    $('.tl-side-navigation__click-target--active').siblings('.dropdown-list').show();
    $('.tl-side-navigation__click-target--active').find('.dropdown-toggle').addClass('active');
    $('.dropdown-toggle').click(function(e) {
        e.preventDefault();
        $(this).toggleClass('active');
        $(this).parent().parent().find('> .dropdown-list').slideToggle();
    });
</script>