/**
 * This file contains text style definitions, which are reused throughout the theme. This keeps all font and font-size definitions and usages near each other,
 * and helps to keep the same text styles throughout the site. Typically only font, font weight and font size are set here, although some header definitions
 * also include some other stylistic elements
 */

/* Only the following 4 font sizes may be used throughout the site */
$font-size-smaller: 14px;
$font-size-normal: 16px;
$font-size-medium: 18px;
$font-size-larger: 24px;

/** The following font size should be used with caution */
$font-size-h1: 32px; /* Only for at most 1 H1 element on each page */
$font-size-hero: 64px; /* Only for landing page hero text */

@mixin font-league-gothic {
  font-family: "League Gothic", sans-serif; // Logo font
}

@mixin font-ibm-plex-sans-condensed {
  font-family: "IBM Plex Sans Condensed", "Noto Display Light", sans-serif; // Main body text
}

@mixin font-ibm-plex-sans {
  font-family: "IBM Plex Sans", "Noto Display Light", sans-serif;
}

@mixin font-monospace {
  font-family: "IBM Plex Mono", "JetBrains Mono", sans-serif; /* Code fragments */
}

@mixin text-body {
  @include font-ibm-plex-sans;
  font-size: $font-size-normal;
  line-height: 1.5;
  font-weight: normal;
  color: var(--color-text);
}

@mixin text-block-quote {
  @include font-ibm-plex-sans-condensed;
  font-size: $font-size-normal;
  color: var(--color-quote);
}

@mixin text-code-block {
  @include font-monospace;
  font-size: $font-size-normal;
  line-height: 1.15;
}

@mixin text-code-inline {
  @include font-monospace;
  font-size: $font-size-normal;
  line-height: 1.15;
}

@mixin text-h1-background {
  background-color: var(--color-h1-background);
  color: var(--color-h1-foreground);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

@mixin text-h1 {
  @include font-league-gothic;
  font-size: $font-size-h1;
  font-weight: normal;
  line-height: 1;
  text-transform: uppercase;
  margin: 64px 0 16px;

  text-wrap: nowrap;
}

@mixin text-h2 {
  @include font-ibm-plex-sans-condensed;
  text-rendering: optimizeLegibility;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: $font-size-larger;
  width: auto;

  font-size: $font-size-larger;
  line-height: 1;
  font-weight: 700;
  color: var(--color-h2-foreground);
  border-bottom: (5 * $font-size-larger / 6) solid var(--color-h2-accent);
  padding-bottom: ($font-size-larger * 2 / 3);
  padding-left: 8px;
  padding-right: 8px;
  margin: 32px 0 16px;
}

@mixin text-h2-small {
  @include text-h2;
  height: $font-size-normal;
  font-size: $font-size-normal;
  border-bottom: (5 * $font-size-normal / 6) solid var(--color-h2-accent);
  padding-bottom: ($font-size-normal * 2 / 3);
  margin: 16px 0 8px;
}

@mixin text-h3 {
  @include font-ibm-plex-sans-condensed;
  text-rendering: optimizeLegibility;
  font-size: $font-size-medium;
  color: var(--color-h3-foreground);
  margin: 24px 0 8px;
}

@mixin text-h4 {
  @include font-ibm-plex-sans-condensed;
  font-size: $font-size-normal;
  color: var(--color-h456-foreground);
  margin: 16px 0 8px;
}

@mixin text-h5 {
  @include font-ibm-plex-sans;
  font-size: $font-size-normal;
  color: var(--color-h456-foreground);
  margin: 12px 0 8px;
}

@mixin text-h6 {
  @include font-ibm-plex-sans;
  font-size: $font-size-normal;
  color: var(--color-h456-foreground);
  margin: 12px 0 8px;
}

@mixin text-subtext {
  @include font-ibm-plex-sans-condensed;
  font-size: $font-size-normal;
  line-height: 1;
  text-transform: uppercase;
}

@mixin text-link {
  color: var(--color-text-accent);
  text-decoration: none;
}

@mixin text-link-hover {
  transition: background-color 0.25s ease-in-out;
  background-color: var(--color-text-accent-background);
}

/* Page header */
@mixin nav-header-item {
  @include font-ibm-plex-sans-condensed;
  font-size: $font-size-normal;
  font-weight: 400;
}

/* Navigation sidebar (left sidebar) */
@mixin sidebar-header-item {
  @include font-ibm-plex-sans-condensed;
  font-weight: bold;
  font-size: $font-size-normal;
}

@mixin sidebar-list-item {
  @include font-ibm-plex-sans-condensed;
  font-size: $font-size-normal;
}

/* Table of contents (right sidebar) */
@mixin toc-header-item {
  @include font-ibm-plex-sans-condensed;
  font-weight: bold;
  font-size: $font-size-normal;
}

@mixin toc-list-item {
  @include font-ibm-plex-sans;
  font-size: $font-size-smaller;
}



/* Table of contents (right sidebar) */
@mixin table-header {
  @include font-ibm-plex-sans;
  font-size: $font-size-smaller;
  font-weight: 600;
}

@mixin table-cell {
  @include font-ibm-plex-sans;
  font-size: $font-size-normal;
}