{{ $args := . }}
{{ $currentPage := $args.currentPage }}
{{ $targetPage := $args.targetPage }}
{{ $level := $args.level }}
{{ $hasChildren := (isSet $args "hasChildren") }}

<a class="tl-side-navigation__item
          tl-side-navigation__item--level-{{$level}}
      {{ if $hasChildren }} tl-side-navigation__item--has-dropdown {{end}}
      {{ if eq $currentPage.Permalink $targetPage.Permalink }} tl-side-navigation__item--active {{end}}"
   href="{{ $targetPage.Permalink }}">
    {{ if gt $level 0 }}
    <span class="tl-side-navigation__chevron_wrapper">
    {{ if $hasChildren }}
        <svg class="tl-side-navigation__chevron" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 3L18 12L9 21" stroke="black"/>
        </svg>
    {{ end }}
    </span>
    {{ end }}
    <span class="tl-side-navigation__title">{{ $targetPage.Title }}</span>

    {{ if $targetPage.Params.badge }}

    {{ end }}
</a>