{{ $args := . }}
{{ $currentPage := $args.currentPage }}
{{ $targetPage := $args.targetPage }}
{{ $level := $args.level }}

<li class="tl-side-navigation__block
           tl-side-navigation__block--level-{{$level}}
           {{ if eq $currentPage.Permalink $targetPage.Permalink }} tl-side-navigation__block--active {{end}}
           {{ if and ($targetPage.Data) (or ($currentPage.IsDescendant $targetPage) (eq $currentPage.Permalink $targetPage.Permalink)) }} tl-side-navigation__block--open-list {{ else if ($targetPage.Data)}} tl-side-navigation__block--closed-list {{end}}">
    {{ if $targetPage.Page.Params.headless }}
      <a class="tl-side-navigation__item tl-side-navigation__item--disabled"><span>{{ $targetPage.Title }}</span></a>
    {{ else }}
        {{ if and ($targetPage.Data) (gt $level 0) }}
            {{ partial "sidebar/sidebar-page-row.html" (dict "targetPage" $targetPage "currentPage" $currentPage "level" $level "hasChildren" true) }}
        {{ else }}
            {{ partial "sidebar/sidebar-page-row.html" (dict "targetPage" $targetPage "currentPage" $currentPage "level" $level ) }}
        {{ end }}
    {{ end }}
    {{ if ($targetPage.Data) }}
        <ul class="tl-side-navigation
                   {{ if gt $level 0 }} tl-side-navigation__dropdown-list tl-side-navigation__dropdown-list--level-{{(math.Add $level 1)}}
                       {{ if or ($currentPage.IsDescendant $targetPage) (eq $currentPage.Permalink $targetPage.Permalink) }} tl-side-navigation__dropdown-list--active {{end}}
                   {{else}}
                      tl-side-navigation__fixed-list tl-side-navigation__fixed-list--level-{{(math.Add $level 1)}}
                   {{end}}">
            {{- range $i, $e := $targetPage.Data.Pages -}}
              {{ partial "sidebar/sidebar-page-tree.html" (dict "targetPage" . "currentPage" $currentPage "level" (math.Add $level 1)) }}
            {{ end }}
        </ul>
    {{ end }}
</li>